.tasks-scrum-actions-panel-container {
	position: absolute;
	-webkit-transform: translateY(-36px);
	-ms-transform: translateY(-36px);
	transform: translateY(-36px);
	transition: 250ms all ease;
	z-index: 90;
	text-align: center;
	height: 0;
}

.tasks-scrum-actions-panel {
	padding: 8px 12px;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	border-radius: 2px;
	z-index: 100;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	/*-webkit-box-align: stretch;*/
	/*-ms-flex-align: stretch;*/
	/*align-items: stretch;*/
	height: 34px;
	box-sizing: border-box;
}

.tasks-scrum-actions-panel-btn {
	position: relative;
	height: 18px;
	box-sizing: border-box;
	cursor: pointer;
	white-space: nowrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-scrum-actions-panel-btn-remove .tasks-scrum-actions-panel-icon {
	background: no-repeat center url(images/remove.svg);
	width: 20px;
	top: -1px;
	position: relative;
}

.tasks-scrum-actions-panel-btn-sprint .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/sprint.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-task .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/task.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-backlog .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/backlog.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-attachment .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/attachment.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-move .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/transfer.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-decomposition .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/decompoz.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-icon {
	display: inline-block;
	height: 20px;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.tasks-scrum-actions-panel-icon + .tasks-scrum-actions-panel-text { margin-left: 5px; }

.tasks-scrum-actions-panel-text {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	color: #858c96;
	font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: middle;
}

.tasks-scrum-actions-panel-separator {
	width: 27px;
	position: relative;
	-ms-flex-preferred-size: 27px;
	flex-basis: 27px;
}

.tasks-scrum-actions-panel-separator::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 13px;
	width: 1px;
	background-color: #e3e4e7;
}