.tasks-scrum-epic-form { padding: 0 12px 0 20px; }

.tasks-scrum-epics-list { padding: 0 12px 0 20px; }

.tasks-scrum-epic-header {
	padding: 19px 5px 22px;
	display: flex;
	justify-content: space-between;
}

.tasks-scrum-epic-header-title {
	font: 24px/32px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

.tasks-scrum-epic-form-container {
	background-color: #fff;
	padding: 19px 17px;
}

.tasks-scrum-epic-form-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.tasks-scrum-epic-form-header-title {
	border-bottom: 1px solid rgba(82, 92, 105, 0.2);
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-bottom: 12px;
	font: 18px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

.tasks-scrum-epic-form-header-title-control {
	width: 100%;
	border-color: transparent;
	font: 18px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

.tasks-scrum-epic-form-header-separate {
	width: 22px;
	max-width: 22px;
	min-width: 22px;
}

.tasks-scrum-epic-header-color {
	width: 64px;
	max-width: 64px;
	min-width: 64px;
	border-bottom: 1px solid rgba(82, 92, 105, 0.2);
	padding: 0 13px;
}

.tasks-scrum-epic-header-color-current {
	width: 19px;
	height: 19px;
	border-radius: 2px;
}

.tasks-scrum-epic-form-additional {
	background-color: #f8f9fa;
	padding: 19px 16px;
}

.tasks-scrum-epic-grid-name {
	display: flex;
}

.tasks-scrum-epic-grid-name-color {
	width: 19px;
	height: 19px;
	border-radius: 2px;
}

.tasks-scrum-epic-name-label {
	margin-left: 10px;
	color: #525c69;
}

.tasks-scrum-epic-name-label:hover {
	color: #525c69;
	cursor: pointer;
	text-decoration: underline;
}

.tasks-scrum-epic-form-files:not(:empty) {
	border-top: 1px solid rgba(82, 92, 105, 0.2);
	padding-top: 20px;
}

.tasks-scrum-epics-empty-image {
	/*background: no-repeat center url(images/epic-empty.svg);*/
	width: 124px;
	height: 124px;
	margin-bottom: 58px;
}

.tasks-scrum-epics-empty {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 75px 50px 60px;
}

.tasks-scrum-epics-empty-first-title {
	font: 37px/32px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c69;
	margin-bottom: 67px;
}

.tasks-scrum-epics-empty-second-title {
	font: 20px/32px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #a8adb4;
	margin-bottom: 47px;
}