.intranet-contact-block {
	padding-bottom: 10px;
}

.intranet-contact-wrap {
	padding-top: 25px;
	border-top: 1px solid rgba(82, 92, 105, .1);
	margin-right: 5px;
}

.intranet-contact-slider {
	padding: 0 21px 0 25px;
}

.bitrix24-light-theme .intranet-contact-wrap {
	border-color: rgba(255, 255, 255, .2);
}

.bitrix24-default-theme .intranet-contact-wrap {
	margin-right: 20px;
}

.intranet-contact-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.intranet-contact-item {
	width: 179px;
	min-height: 105px;
	height: 50px;
	border-radius: 1px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
	transition: transform .2s linear;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	padding-bottom: 15px;
}

.intranet-contact-item:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0 4px 10px;
	transition: all 0.15s linear;
	transform: translate(0, -1px);
}

.intranet-contact-name-text {
	color: #525c69;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 130px;
	display: inline-block;
	vertical-align: middle;
	font: 13px/20px 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.intranet-contact-logo-container {
	margin-bottom: 15px;
}

.intranet-contact-logo {
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	border: 1px solid transparent;
	box-sizing: border-box;
}

.intranet-contact-item-selected {
	border: none;
	border-radius: 3px;
}

.intranet-contact-item-selected:before {
	position: absolute;
	bottom: 14px;
	top: -4px;
	right: -5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
	background: #97c70f url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.627%205.81L10.402%200%2012%201.607%204.652%209l-.025-.025L4.602%209%200%204.373l1.598-1.607z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E)
	no-repeat center;
	content: '';
}

.intranet-contact-item-selected .intranet-contact-logo {
	border-color: rgba(255, 255, 255, .6);
}

.intranet-contact-item-selected .intranet-contact-name-text {
	color: #fff;
}

.intranet-contact-item-green {
	background-color: #90be00;
}

.intranet-contact-item-cyan {
	background-color: #2fc6f6;
}

.intranet-contact-item-red {
	background-color: #ff5752;
}

.intranet-contact-item-azure {
	background-color: #55d0e0;
}

.intranet-contact-item-vkblue {
	background-color: #3871ba;
}

.intranet-contact-item-orange {
	background-color: #ffa900;
}

.intranet-contact-item-blue {
	background-color: #3e7cac;
}

.intranet-contact-item-darkblue {
	background-color: #38659f;
}

.intranet-contact-item-lightblue {
	background-color: #02aff0;
}

.intranet-contact-item-lightGrayBlue {
	background-color: #6A89B0;
}

.intranet-contact-item-darkgreen {
	background-color: #00b4ac;
}

.intranet-contact-item-purple {
	background-color: #d56c9a;
}

.intranet-contact-logo-common {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2225%22%20height%3D%2226%22%20viewBox%3D%220%200%2025%2026%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cg%3E%0A%3Cg%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M%2011.9912%200.0357666C%2012.0116%200.0251465%2012.0314%200.0148315%2012.0505%200.0090332C%2012.1235%20-0.0119019%2012.1858%200.00463867%2012.2653%200.0452271L%2023.8947%204.66113C%2024.1931%204.79938%2024.3047%205.06384%2024.2983%205.51459L%2024.2983%2020.1678C%2024.3005%2020.4999%2024.1309%2020.8199%2023.9032%2020.9131L%2012.3425%2025.4929C%2012.189%2025.5349%2012.0033%2025.5439%2011.8616%2025.4808L%200.403687%2020.9373C%200.176086%2020.8486%200.00323486%2020.5345%200%2020.204L%200%205.41846C%200.00860596%205.06989%200.113831%204.77386%200.403687%204.63715L%2011.9731%200.045105L%2011.9912%200.0357666ZM%2021.7218%205.40631L%2012.1191%201.58374L%202.508%205.39429L%2012.1191%209.20477L%2021.7218%205.40631Z%22%20fill%3D%22%23FFFFFF%22/%3E%0A%3C/g%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A);
}

.intranet-contact-list-item-add {
	/*position: absolute!important;
	z-index: 100;
	background-color: #fff!important;
	width: 100%;
	top: -36px;*/
	border-bottom: 2px solid #f0f1f2;
}

.intranet-contact-app-banner {
	display: block;
	overflow: hidden;
	margin: 20px 0 75px;
	height: 97px;
	background: #3ecbde url(image/intranet-contact-app-banner-bg.png) right center no-repeat;
	text-decoration: none;
	cursor: pointer;
}

.intranet-contact-app-banner:before {
	display: inline-block;
	height: 100%;
	content: '';
	vertical-align: middle;
}

.intranet-contact-app-banner-icon,
.intranet-contact-app-banner-title {
	display: inline-block;
	vertical-align: middle;
}

.intranet-contact-app-banner-title {
	color: #fff;
	font-size: 27px;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, sans-serif;
	pointer-events: none;
}

.intranet-contact-app-banner-title span {
	font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, sans-serif;
}

.intranet-contact-app-banner-icon {
	position: relative;
	margin: auto 15px auto 25px;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background: #fff;
}

.intranet-contact-app-banner-icon:before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	border: 1px solid rgba(255, 255, 255, .7);
	border-radius: 50%;
	content: '';
	transform: translate(-50%, -50%);
}

.intranet-contact-app-banner-icon-arrow {
	display: block;
	margin: 10px auto 0;
	width: 20px;
	height: 20px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%239DCF00%22%20d%3D%22M12.7272727%2C9.61538462%20L20%2C9.61538462%20L10%2C19.2307692%20L0%2C9.61538462%20L7.27272727%2C9.61538462%20L7.27272727%2C0%20L12.7272727%2C0%20L12.7272727%2C9.61538462%20Z%22%3E%3C/path%3E%3C/svg%3E') center center no-repeat;
	opacity: 1;
	transition: .23s;
	transform: translateY(0);
}

.intranet-contact-app-banner:hover .intranet-contact-app-banner-icon-arrow {
	opacity: .7;
	transform: translateY(-7px);
	animation: intranet-contact-app-banner-icon-arrow-animate .7s linear infinite;
	animation-delay: .23s;
}

@keyframes intranet-contact-app-banner-icon-arrow-animate {
	0% {
		opacity: .7;
		transform: translateY(-7px);
	}
	50% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: .7;
		transform: translateY(-7px);
	}
}

.intranet-contact-app-banner-icon:after {
	position: absolute;
	bottom: 11px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 4px;
	background: #9dcf00;
	content: '';
}

.intranet-side-panel-overlay {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 3000;
	transform: translateZ(0);
	overflow: hidden;
}

.intranet-contact-center-title {
	color: #000;
	font: 18px/24px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-bottom: 19px;
	margin-top: 35px;
}

.intranet-imessage-background-color {
	background-color: #000000;
}

.intranet-contact-item-selected .intranet-contact-marketplace-app {
	background-color: #fff;
}

.intranet-contact-item-selected .intranet-contact-marketplace-name .intranet-contact-name-text {
	color: #525c69;
}

.intranet-marketplace-item-image {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 25px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}