#tm-popup {z-index: 950}

.tm_wait {height: 33px; width: 31px; background: url(../images/wait.gif) no-repeat 0 0;}

.tm-status-bar { position: relative;  margin:0 auto;  max-width: 1440px; min-width: 1000px; visibility: hidden; }
.tm-status-bar-inner { position: absolute; top: 0; right: 293px;  height:20px; z-index: 1; }

.tm-dashboard {display: inline-block;}
.tm-dashboard-inner { display: inline-block; height: 20px; cursor: pointer; color: #3e3e3e; font:normal 11px/normal Arial, Helvetica, sans-serif; padding: 0 0 0 9px; }

.tm-dashboard:hover { background: #cfcfcf;}
.tm-dashboard:hover .tm-dashboard-title, .tm-dashboard:hover .tm-dashboard-arrow { visibility: visible; }

.tm-error {color: red; margin-right: 9px;}

.tm-dashboard-arrow,
.tm-dashboard-title,
.tm-dashboard-bell,
.tm-dashboard-clock,
.tm-dashboard-flag,
.tm-dashboard-stateicon,
.tm-dashboard-text { display: inline-block; vertical-align: top; height: 20px; }

/*.tm-dashboard-arrow, .tm-dashboard-title { visibility: hidden; }*/
.tm-dashboard-title { margin: 0 8px 0 5px; height:20px; line-height: 18px; }
.tm-dashboard-arrow { width: 6px; background: url(../images/timeman-sprite.2.1.png) no-repeat -79px 4px; }
.tm-dashboard-bell { width: 11px; background: url(../images/timeman-sprite.2.1.png) no-repeat 0 4px; }
.tm-dashboard-stateicon { width: 11px; background: url(../images/timeman-sprite.2.1.png) no-repeat 0 0; }
.bx-tm-paused .tm-dashboard-stateicon { background-position: -61px -31px; }
.bx-tm-opened .tm-dashboard-stateicon { background-position: -73px -31px; }
.bx-tm-closed .tm-dashboard-stateicon, .bx-tm-expired .tm-dashboard-stateicon {display: none;}
.tm-dashboard-clock { width: 10px; background: url(../images/timeman-sprite.2.1.png) no-repeat -22px 4px; }
.tm-dashboard-flag { width: 10px; background: url(../images/timeman-sprite.2.1.png) no-repeat -44px 4px; }

.tm-dashboard-text { margin: 0 12px 0 4px; height:20px; line-height: 18px; }
.tm-dashboard-subtext { color: #878787; padding: 0 0 0 3px; }

.tm-popup-layout { }
.tm-popup-layout-left { width: 5px; min-width: 5px; padding: 0; background: #e0e0e0; border-left: 1px solid #c4c4c4; }
.tm-popup-layout-left-spacer { width: 5px; }
.tm-popup-layout-center { background: #fff; padding: 0; }
.tm-popup-layout-right { width: 11px; min-width: 11px; padding: 0; background: url(../images/timeman-sprite.2.1.png) no-repeat -89px -313px;}
.tm-popup-layout-right-spacer { width: 11px; }

.tm-popup-layout-left-corner { width: 6px; height:11px; background: url(../images/timeman-sprite.2.1.png) no-repeat 0 -138px; padding:0;}
.tm-popup-layout-center-corner { height:11px; background: url(../images/timeman-sprite.2.1.png) repeat-x 0 -126px; padding:0; }
.tm-popup-layout-right-corner { width: 11px; height:11px; background: url(../images/timeman-sprite.2.1.png) no-repeat -8px -138px; padding:0;}

.tm-popup-content { width: 450px;}
.tm-popup-dashboard { display:block; margin-right:-4px; height: 20px;  font:normal 11px/normal Arial, Helvetica, sans-serif; cursor: pointer; text-align: right; overflow: hidden;}


.tm-popup-dashboard .tm-dashboard-title, .tm-popup-dashboard .tm-dashboard-arrow { visibility: visible; float: left; }
.tm-popup-dashboard .tm-dashboard-title {  }
.tm-popup-dashboard .tm-dashboard-arrow { background-position: -70px 4px; margin: 0 0 0 19px; }


.tm-popup-notice { margin: 5px 14px 0; white-space: nowrap; position: relative; height:23px; background: #ffe776; color:#000; text-align: center;}
.tm-popup-notice-left, .tm-popup-notice-text, .tm-popup-notice-right, .tm-popup-notice-pencil { height:23px; display: inline-block;  vertical-align: top;}
.tm-popup-notice-left { width: 3px; position:absolute; top:0; left:0; background: url(../images/timeman-sprite.2.1.png) no-repeat 0 -17px; }
.tm-popup-notice-pencil { width: 23px; position:absolute; top:0; right:0; background: url(../images/timeman-sprite.2.1.png) no-repeat 4px -54px; cursor: pointer; border-left: 2px solid #fff;}
.tm-popup-notice-right { width: 3px; position:absolute; top:0; right:0; background: url(../images/timeman-sprite.2.1.png) no-repeat -3px -17px; }
.tm-popup-notice-text { padding: 0 8px;  font: normal normal normal 12px/23px Arial, Helvetica, sans-serif; vertical-align: middle;}
.tm-popup-notice-time { font-size: 14px; font-family: Arial, Helvetica, sans-serif; vertical-align: middle; display:inline-block;}

.tm-popup-notice-time-hours, .tm-popup-notice-time-minutes, .tm-popup-notice-time-seconds,
.tm-popup-notice-time-number, .tm-popup-notice-time-unit { display: inline-block;}

.tm-popup-notice-time-hours {}
.tm-popup-notice-time-minutes {}
.tm-popup-notice-time-seconds { }
.tm-popup-notice-time-number { margin: 0 2px 0 0; }
.tm-popup-notice-time-unit { color: #80743b; margin: 0 5px 0 0; }

.tm-popup-timeman { margin:18px 0 17px; }
.tm-popup-timeman-layout { width:100%; }
.tm-popup-timeman-layout-time {  padding: 0; text-align: center; vertical-align: middle;}
.tm-popup-timeman-layout-button {  width:50%; padding: 2px 0 0 0; text-align: center; vertical-align: middle; }

.tm-popup-time-box { font-family: Arial, Helvetica, sans-serif; }
.tm-popup-time-label { color: #4c4c4c; font-size: 12px; vertical-align: middle; }
.tm-popup-time-now {  color: #000;  font-size: 24px; vertical-align: middle; margin: 0 0 0 4px; }

.tm-popup-timeman-pause {display: none;}
.tm-popup-timeman-pause span {zoom: 1; display: inline-block;}
.tm-popup-timeman-paused-mode .tm-popup-timeman-pause {display: block; text-align: center; margin-bottom: 15px;}

.tm-popup-timeman-pause-timer-caption { padding: 0 8px;  font: normal normal normal 12px/23px Arial, Helvetica, sans-serif; vertical-align: middle;}
.tm-popup-timeman-pause-time { font-size: 14px; font-family: Arial, Helvetica, sans-serif; vertical-align: middle; display:inline-block;}

.tm-popup-timeman-button-mode
{
	margin-left: auto;
	margin-right: auto;
}
.tm-popup-timeman-button-mode .tm-popup-timeman-layout-time
{
	display: none;
}
.tm-popup-timeman-button-mode .tm-popup-timeman-layout-button
{
	width: 100%;
	text-align: center;
}

.tm-popup-timeman-time-mode { width: 60%; margin-left: auto; margin-right: auto; }
.tm-popup-timeman-time-mode .tm-popup-timeman-layout-button { display: none; }
.tm-popup-timeman-time-mode .tm-popup-timeman-layout-time { width: 100%; }

.tm-popup-timeman-change-time-mode
{
	margin-top: 15px;
	margin-bottom: 13px;
}

.tm-popup-button-handler
{
	display: inline-block;
	vertical-align: top;
}
.tm-popup-timeman-change-time-mode .tm-popup-button-handler
{
	margin: 0;
}

.tm-webform-button-play,
.tm-webform-button-pause {
	margin-right: 8px;
	padding-left: 15px;
	padding-right: 15px;
}

.tm-webform-button-play .webform-button-icon, .tm-webform-button-pause .webform-button-icon { display: inline-block; height: 35px; }
/*.tm-webform-button-play .webform-button-text, .tm-webform-button-pause .webform-button-text { color: #000; font-size: 14px; line-height: 32px; }*/
.tm-webform-button-pause .webform-button-icon { background: url(../images/timeman-sprite.2.1.png) no-repeat -16px -11px;  width: 9px; margin: 4px 8px 0 0; }
.tm-webform-button-play .webform-button-icon { background: url(../images/timeman-sprite.2.1.png) no-repeat -30px -11px;  width: 7px; margin: 4px 6px 0 0; }


.tm-btn-pause .text-pause,
.tm-btn-start .text-start { display: none; }

.tm-popup-relaunch-btn {
	margin-left: 8px;
}
.tm-popup-timeman-buttons-mode .tm-popup-timeman-layout { width:auto; margin:0 auto; }
.tm-popup-timeman-buttons-mode .tm-popup-timeman-layout-time { vertical-align: top; width: auto;}
.tm-popup-timeman-buttons-mode .tm-popup-timeman-layout-button { vertical-align: top;  width: auto; padding:0;}

.tm-popup-main-button {margin-right: 0px;}
.tm-popup-main-button .webform-button-text {font-size: 14px;}

.tm-popup-change-time-link {
	display:none;
	white-space: nowrap;
	font: normal 11px/normal Arial, Helvetica, sans-serif;
	color: #999;
	text-decoration: underline;
	margin: 2px 0 0 0;
	cursor:pointer;
	text-align: left;
}

.tm-popup-change-time-link:hover
{
	color: #1f6db0;
}

.tm-popup-timeman-change-time-mode .tm-popup-change-time-link
{
	display:block;
}

.tm-popup-timeman-button-mode .tm-popup-change-time-link
{
	text-align: center;
}

.tm-tabs-box { padding: 0 0 13px 0; }
.tm-tabs { margin: 0 18px 0 18px; position: relative; z-index:1; }
.tm-tabs-hr { position: relative; top: -1px; left:0; background: #dadada url(../images/timeman-sprite.2.1.png) no-repeat 0 -53px; display:block; font-size:1px; height:1px; line-height:1px; margin:0; overflow:hidden; padding:0;}
.tm-tabs-hr i { background: url(../images/timeman-sprite.2.1.png) no-repeat right -52px; display:block; font-size:1px; height:1px; line-height:1px; margin:0; overflow:hidden; padding:0; }

.tm-tab {
	background: #e9e9e9;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	cursor: pointer;
	color: #747474;
	display: inline-block;
	height: 22px;
	font: normal normal normal 12px/20px Arial, Helvetica, sans-serif;
	vertical-align: bottom;
	margin: 0 3px 0 0;
	padding: 0 12px;
}

.tm-tab-selected {
	background: #fff;
	border: 1px solid #b0b0b0;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	color: #000;
	height: 24px;
	line-height: 24px;
}

.tm-tabs-content {margin: 13px 14px 0 14px;}
.tm-report-popup-desc-text .tm-tabs-content {margin: 5px 5px 0 1px;}
.tm-report-popup-desc-text .tm-tabs-box {padding:0px;}
.tm-report-popup-desc-text .tm-tabs {margin: 0 18px 0 10px;}
.tm-report-popup-desc-text-view .tm-tabs-content {margin: 5px 5px 0 1px;}
.tm-report-popup-desc-text-view .tm-tabs {margin: 0 18px 0 10px;}
.tm-report-popup-desc-text-view .tm-tabs-box {padding:0px;}
.tm-tab-content { display:none; }
.tm-tab-content-selected { display:block; }
.tm-popup-section-box { margin: 5px auto 0; text-align: center; }

.tm-popup-section-title { position: relative; }
.tm-popup-section-title-text { font-weight: bold; margin: 8px 0 6px 3px;display:inline-block;font-size:13px;}
.tm-popup-section-title-link {  color: #949494; cursor: pointer; font-size: 11px; position: absolute; right: 11px; top: 0; text-decoration: underline; }
.tm-popup-section-title-link-weekly {top:8px;}
.tm-popup-section-title-line { height: 1px; font-size: 1px; background: #e5e5e5 url(../images/timeman-sprite.2.1.png) no-repeat right -227px; }



.tm-popup-report {  text-align: center; }
.tm-popup-report-text {}
.tm-popup-report-textarea { width:100%; height:200px; padding:0; margin:0; color: #444; border: 1px solid #adadad; resize:none; font: normal 12px Verdana, Tahoma, sans-serif}
.tm-popup-report-buttons { padding: 10px 0 0 0; text-align: center;}

.tm-popup-report-editmode .tm-popup-report-textarea { color: #000; }
.tm-popup-report-button .popup-window-button-text {color: #aaa; }
.tm-popup-report-editmode .tm-popup-report-button .popup-window-button-text { color: #000; }

.tm-popup-title { margin: 6px 10px 13px; }
.tm-popup-title .tm-popup-title-link { color: #0069C4; text-decoration: underline;  font-size: 14px;}

/* Task Info Popup */
.tm-task-popup { width: 320px;  font: normal 12px/normal Arial, Helvetica, sans-serif; overflow: hidden;}
.tm-task-popup-description { margin: 13px 10px; color: #222222; }
.tm-task-popup-project { margin: 13px 10px; font-size: 11px;}
.tm-task-popup .tm-task-popup-project a { color: black; }

.tm-task-popup-files { margin: 13px 10px; }
.tm-task-popup-file { overflow: hidden; }
.tm-task-popup-file-number { float: left; margin: 0 5px 0 0; color: #828282; }
.tm-task-popup-file-info { overflow: hidden; }

.tm-task-popup-comments { margin: 13px 10px; }
.tm-task-popup-comments-label { color: #828282; display:inline-block; margin: 0 5px 0 0;  }
.tm-task-popup-comments .tm-task-popup-comments-number { color: #0069c4; text-decoration: underline; }
.tm-task-popup-comments .tm-task-popup-comments-number:hover { color: #1c91e7; }

.tm-task-popup-file .tm-task-popup-file-name { font:normal normal normal 12px/normal Arial, Helvetica, sans-serif; color: #0069c4; text-decoration: underline; vertical-align: top; }
.tm-task-popup-file .tm-task-popup-file-name:hover { color: #1c91e7; }
.tm-task-popup-file-size { color: #919191; margin: 0 0 0 6px; font-size:11px; vertical-align: top; }

.tm-task-popup-props { margin: 13px 10px; }
.tm-task-popup-prop-name { width: 100px; color: #828282;  text-align: left; vertical-align:top; padding: 0 0 4px 0;}
.tm-task-popup-prop-value { color: #000;  text-align: left; vertical-align:top; padding: 0 0 4px 15px; }
.tm-task-popup-props .tm-task-popup-prop-link { color: #000; text-decoration: none; }
.tm-task-popup-props .tm-task-popup-prop-link:hover { text-decoration: underline; }

/*.tm-task-popup-button-delay .popup-window-button-text {  background: url(../images/timeman-sprite.png) no-repeat -89px -283px;  padding-left: 15px;}*/
/*.tm-task-popup-link-delay { background: none; margin: 0 0 0 10px; }
.tm-task-popup-link-delay a { background: url(../images/timeman-sprite.png) no-repeat -89px 3px; color: #333 !important; padding: 0 0 0 15px; text-decoration: underline !important;}
.tm-task-popup-link-delay a { color: #000 !important; }*/

.tm-report-popup { width: 680px; font: normal 12px/normal Arial,Verdana, Helvetica, sans-serif;}
.tm-report-popup-titlebar { position: relative; text-align: center; height: 49px;}
.tm-report-popup-title { position: absolute; top: 9px; left: 9px; font:  normal 15px/31px Arial, Helvetica, sans-serif; }
.tm-report-popup-title-date { display: inline-block; vertical-align: bottom; font:  bold 15px/31px Arial, Helvetica, sans-serif; margin-top: 9px; }
.tm-report-popup-title-additional {display: inline-block; width:13px; height:13px; margin: 0 0 0 5px; background: url(../images/timeman-sprite.2.1.png) no-repeat -52px -136px; cursor: pointer;}
.tm-report-popup-titlebar-hint {white-space: nowrap;}
.tm-report-popup-title-left, .tm-report-popup-title-right { display: inline-block; vertical-align: middle; width: 22px; height: 20px; cursor: pointer; }
.tm-report-popup-title-left { background: url(../images/timeman-sprite.2.1.png) no-repeat 6px -79px; }
.tm-report-popup-title-left:hover { background: url(../images/timeman-sprite.2.1.png) no-repeat 0 -100px; }

.tm-report-popup-title-right { background: url(../images/timeman-sprite.2.1.png) no-repeat -15px -79px; }
.tm-report-popup-title-right:hover { background: url(../images/timeman-sprite.2.1.png) no-repeat -25px -100px; }

.tm-report-popup-people { margin: 12px 4px 5px 0px; }
.tm-report-popup-people .tm-report-popup-r1 { background: #f4f0d2; border-left: 1px solid #f9f7e8; border-right: 1px solid #f9f7e8; }
.tm-report-popup-people .tm-report-popup-r0 { background: #f4f0d2; border-left: 1px solid #f9f7e7; border-right: 1px solid #f9f7e7; }

.tm-report-popup-people-inner{background: #f4f0d2; padding:  3px 14px 2px 14px; overflow: hidden;}
.tm-report-popup-people-inner-log{ border-radius:3px;padding:4px 7px 4px 7px; border:1px solid #D9D9D9;overflow: hidden;}
.tm-report-popup-user {height: 34px; overflow: hidden; white-space: nowrap;}
.tm-report-popup-employee {  float: left;  width: 49%; }
.tm-report-popup-director { float: right;  width: 50%; }
.tm-report-popup-user-label { display: inline-block; vertical-align: middle; margin: 0 6px 0 0; color: #32312b; }
.tm-report-popup-user-avatar { display: inline-block; vertical-align: middle; width: 32px; height: 32px; background: url(../images/timeman-sprite.2.1.png) no-repeat -68px -56px; border: 1px solid #c1bda6; }
.tm-report-popup-user-info { display: inline-block; vertical-align: middle; margin: 0 0 0 6px; }
.tm-report-popup-user-name { display: inline-block; vertical-align: middle; color: #010101; }
.tm-report-popup-user-position { display: block; vertical-align: middle; color: #7a7869; }
.tm-mark-log{margin: 7px 3px; font-size: 11px; color: #777;padding: 4px;display: inline-block;}
.tm-mark-log-changed{background: #F8F6E4 !important;border-radius: 3px;}
a.tm-report-popup-user-name {color: #010101 !important; text-decoration: underline;}
a.tm-report-popup-user-name-log{color: #010101 !important; text-decoration: none;}
a.tm-report-popup-user-name-log:hover{text-decoration: underline;}
.tm-mark-log-G{color:green;}
.tm-mark-log-X{color:#000;}
.tm-mark-log-N{color:#777;}
.tm-mark-log-B{color:red;}
.tm-report-popup-time { margin: 0 4px 10px 4px; }
.tm-report-popup-time-inner { background: #f8f6e4; padding: 0 7px; }
.tm-report-popup-time .tm-report-popup-r1 { background: #f8f6e4; border-left: 1px solid #fcfaf1; border-right: 1px solid #fcfaf1; }
.tm-report-popup-time .tm-report-popup-r0 { background: #f8f6e4; border-left: 1px solid #fcfaf1; border-right: 1px solid #fcfaf1; }
.tm-report-popup-time-brief {  padding: 0 14px 0 90px; position: relative; text-align: center; height: 25px; }
.tm-report-popup-time-data { display: inline-block; margin-top: 5px; }


.tm-report-popup-time-title { position: absolute; left: 7px; top: 5px; color: #64635c; white-space: nowrap; text-align: left; }
.tm-report-popup-time-edit { display: block; position: absolute; top:0; right: -7px; width: 30px; height: 23px;  background: url(../images/timeman-sprite.2.1.png) no-repeat 7px -54px; cursor: pointer; }
.tm-report-popup-time-separator { display: inline-block; vertical-align: middle; width: 34px; height: 13px; background: url(../images/timeman-sprite.2.1.png) no-repeat -83px -89px; }
.tm-report-popup-time-label, .tm-report-popup-time-value { display: inline-block;  }
.tm-report-popup-time-label { margin-right: 4px; color: #4b4a46; }
.tm-report-popup-time-unit { color: #848381; margin-right: 4px;}
.tm-report-popup-time-expired { color: #de0000; font-size: 13px; }

.tm-report-popup-time-fixed { color: #7d7c75; font-size: 11px; display: block; }
.tm-report-popup-time-real { color: #000 ; font-size: 11px; margin-left: 4px; display: block;}
.tm-report-popup-time-real .tm-report-popup-time-label { color: #000; }
.tm-report-popup-time-grid-minimal .tm-report-popup-time-real {display: inline;}



.tm-report-popup-time-full { border-top: 1px solid #e5e4d7; padding: 5px 0;}
.tm-report-popup-time-grid { width: 100%; }
.tm-report-popup-time-start { width: 25%; border-right: 1px solid #e0ded1; text-align: center; vertical-align: middle; }
.tm-report-popup-time-break { width: 25%; border-right: 1px solid #e0ded1; text-align: center; vertical-align: middle;}
.tm-report-popup-time-end { width: 25%; text-align: center; vertical-align: middle; }
.tm-report-popup-time-duration { width: 25%; border-left: 1px solid #e0ded1; text-align: center; vertical-align: middle; }

.tm-report-popup-time-approved { background: #bde59a; }
.tm-report-popup-time-changed { background: #f8d877; }

.tm-report-popup-time-grid-minimal .tm-report-popup-time-start, .tm-report-popup-time-grid-minimal .tm-report-popup-time-end, .tm-report-popup-time-grid-minimal .tm-report-popup-time-duration { width: 33.33%; }
.tm-report-popup-time-grid-minimal .tm-report-popup-time-break { display: none; }

.tm-report-popup-time-extra { border-top: 1px solid #e5e4d7;  padding:  8px 0;}
.tm-report-popup-time-extra-inner { max-height: 100px; overflow-y: auto; overflow-x: hidden; padding: 0 5px 0 0; }

.tm-report-popup-time-extra-layout { width: 100%;  }
.tm-report-popup-time-extra-label { color: #4b4a46;  padding: 0 4px 6px 14px; vertical-align: top;  text-align: right; white-space: nowrap;}
.tm-report-popup-time-extra-text { color: #010101; padding: 0 14px 6px 0; vertical-align: top; width: 100%; }
.tm-report-popup-time-extra .tm-report-popup-time-extra-link { text-decoration: none; color: #010101;}
.tm-report-popup-time-extra-link:hover { text-decoration: underline; }


.tm-report-popup-desc { margin-top:5px;margin-bottom:5px;}
.tm-report-popup-desc-title { position:  relative; margin:  0 0 3px 0; }
.tm-report-popup-desc-label { font-size: 13px; font-weight: bold; }
.tm-report-popup-desc-templates { position: absolute; right: 0; top: 0; color: #808080;  cursor: pointer; }
.tm-report-popup-desc-templates-label { display: inline-block; vertical-align: middle; border-bottom: 1px dashed #fff;}
.tm-report-popup-desc-templates-arrow { display: inline-block; vertical-align: middle; width: 12px; height: 3px; background: url(../images/timeman-sprite.2.1.png) no-repeat -76px -4px; }
.tm-report-popup-desc-templates:hover .tm-report-popup-desc-templates-label { border-color: #808080; }
.tm-report-popup-desc-text { }
.tm-report-popup-desc-textarea { width: 100%; height: 105px; resize: none; padding: 0; background: #fff;  border: 1px solid #c2c2c2; color: #000;}

.tm-report-popup-inlude-tasks { margin:  10px 0 0 5px; position: relative;}
.tm-popup-tasks-empty .tm-report-popup-inlude-tasks { display: none; }
.tm-report-popup .tm-popup-tasks-empty .tm-popup-task-form { margin-left: 0; margin-top: 10px; }

.tm-report-popup-inlude-arrow { display: block; vertical-align: top; width: 7px; height: 10px; background: url(../images/timeman-sprite.2.1.png) no-repeat -68px -138px; }
.tm-report-popup-inlude-hint { display: block; vertical-align: top; font-size: 11px; height: 10px; color: #999; margin: 0 0 0 6px; position: absolute; top: -6px; left:5px;}

.tm-report-popup-items { table-layout: fixed; width: 100%; position:relative;}
.tm-report-popup-tasks { width: 60%; vertical-align: top; padding: 0 5px 0 0px; border-right: 1px solid #ededed; }
.tm-report-popup-events { width: 40%; vertical-align: top; padding: 0 10px 0 10px; }

.tm-report-popup-include-checkbox { position: absolute; margin: 2px 0 0 -37px; padding: 0; vertical-align: middle;}
.tm-report-popup .tm-popup-task-list { max-height: 150px; margin-top: 3px; padding-left: 38px; }
.tm-report-popup .tm-popup-tasks { margin-bottom: 0;}
.tm-report-popup .tm-popup-task-form  { margin-left: 39px; margin-bottom: 5px;}

.tm-popup-tasks-tens .tm-report-popup-include-checkbox { margin-left: -40px; }
.tm-popup-tasks-tens .tm-popup-task-list { padding-left: 41px; }
.tm-popup-tasks-tens .tm-popup-task-form  { margin-left: 41px;}

.tm-report-popup-ie7 .tm-report-popup-include-checkbox { width: 15px; height: 15px; margin: 0 0 0 -46px;}
.tm-report-popup-ie7 .tm-popup-task-list { padding-left: 47px; }
.tm-report-popup-ie7 .tm-popup-task-form  { margin-left: 47px;}

.tm-report-popup .tm-popup-event-list { max-height: 150px; }
.tm-report-popup .tm-popup-event-datetime { float:none; }
.tm-report-popup .tm-popup-event-name { padding-left: 0; }
.tm-report-popup .tm-popup-event-form-textbox { width: 130px; }
.tm-report-popup .tm-popup-event-form-options { width: 238px; }
.tm-report-popup .tm-popup-event { margin-bottom: 11px; }

/* Read Mode*/
.tm-report-popup-read-mode .tm-report-popup-desc-text { max-height: 115px; overflow-y: auto; margin: 9px 0 9px 9px;}
.tm-report-popup-read-mode .tm-popup-task-list { max-height: 108px; margin-top: 9px; padding-left: 28px; }
.tm-report-popup-read-mode .tm-popup-event-list { max-height: 108px; }
.tm-report-popup-read-mode .tm-report-popup-time { margin-bottom: 14px; }
.tm-report-popup-read-mode .tm-popup-tasks { margin-left: 0; }
.tm-report-popup-mark-section {text-align:left;width:99%;margin:20px;}
.report-mark-N { color: #4d4d4d; background: url(../images/marks.gif) no-repeat 3px -183px;}
.report-mark-G { color: #25990a; background: url(../images/marks.gif) no-repeat 3px -202px;}
.report-mark-B { color: #ea1e1e; background: url(../images/marks.gif) no-repeat 3px -221px;}

.period-setting-label{color:#777;font-size:12px;}
.period-setting-desc{color:#777;font-size:11px;padding-top:10px;}
.period-setting-main{padding:10px;width:240px;}
.period-setting-input{background:#FFF;border:1px solid #777;padding:3px;}
.period-setting-value{cursor: pointer; font-size: 12px;}

/* Max-Height */
.tm-report-popup-content-report-tasks .tm-report-popup-desc-text { max-height: 285px;}
.tm-report-popup-content-time-report .tm-report-popup-desc-text { max-height: 290px;}
.tm-report-popup-content-time-tasks .tm-popup-task-list { max-height: 260px; }
.tm-report-popup-content-time-tasks .tm-popup-event-list { max-height: 260px; }
.tm-report-popup-content-report .tm-report-popup-desc-text { max-height: 450px; }
.tm-report-popup-content-tasks .tm-popup-task-list { max-height: 285px; }
.tm-report-popup-content-tasks .tm-popup-event-list { max-height: 285px; }

.tm-report-popup-r0, .tm-report-popup-r1, .tm-report-popup-r2, .tm-report-popup-r3 { display:block; font-size:1px; height:1px; overflow:hidden;}
.tm-report-popup-r1 { margin: 0 1px; }
.tm-report-popup-r2 { margin: 0 2px; }
.tm-report-popup-r3 { margin: 0 3px; }
.tm-popup-button-link-cancel { color: #666666; text-decoration: underline;}
.tm-report-title{padding:5px;}

/* Templates Integration */
#auth-align-bottom { top: 21px !important;}
#auth { padding-top: 6px; }
#time-management { height:16px; position: absolute; top: 0; right: 9px; z-index: 1; background: url(../images/timeman-sprite.2.1.png) repeat-x 0 -169px;}
#time-management-inner { height:16px; background: url(../images/timeman-sprite.2.1.png) no-repeat -97px -35px; }
#time-management .tm-dashboard { height:16px; background: url(../images/timeman-sprite.2.1.png) no-repeat right -205px; }

/*#time-management .tm-dashboard-title { display: none; }*/
#time-management .tm-dashboard-text, #time-management .tm-dashboard-title { line-height: 16px; }

#time-management .tm-dashboard-arrow { background-position: -79px 3px; }
#time-management .tm-dashboard-pause { background-position: -61px -30px; }
#time-management .tm-dashboard-play { background-position: -73px -30px; }
#time-management .tm-dashboard-bell { background-position: 0 3px; }
#time-management .tm-dashboard-clock { background-position: -22px 3px; }
#time-management .tm-dashboard-flag { background-position: -44px 3px; }

#time-management:hover { background: url(../images/timeman-sprite.2.1.png) repeat-x 0 -151px; }
#time-management:hover #time-management-inner { background: url(../images/timeman-sprite.2.1.png) no-repeat -97px -17px; }
#time-management:hover .tm-dashboard { background: url(../images/timeman-sprite.2.1.png) no-repeat right -187px; }
#time-management:hover .tm-dashboard-title { display: inline-block; }


.bx-tm-popup-clock-wnd {
	padding: 5px 10px 0 10px;
}
.bx-tm-popup-clock-wnd .bx-tm-popup-clock-wnd-clock {
	padding-top: 27px;
	height: 135px;
	width: 120px;
}

.bx-tm-popup-clock-wnd .bx-tm-popup-clock-free-mode .bx-tm-popup-clock-wnd-clock {
	padding-top: 7px; text-align: center;
}

.bx-tm-popup-clock-wnd .bx-tm-popup-clock-wnd-report textarea{
	height: 135px; width: 240px; resize: none; padding:0; margin:0; color: #444; border: 1px solid #adadad; resize:none; font: normal 12px Verdana, Tahoma, sans-serif
}
.bx-tm-popup-clock-wnd .bx-tm-popup-clock-wnd-report .bx-tm-popup-clock-wnd-report-error{
	border: solid 1px red;
}

.bx-tm-popup-clock-wnd .bx-tm-clock-wnd-error {
	text-align: center; font-weight: bold; color: #D00000; padding: 0 0 3px 0;
}

.bx-tm-popup-clock-wnd-title {
	padding-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
}

.bx-tm-popup-clock-wnd-custom-date-link-wrapper {
	text-align: center;
}
.bx-tm-popup-clock-wnd-custom-date-link-wrapper .bx-tm-popup-clock-wnd-custom-date-picker {
	margin-left: 9px;
}
.bx-tm-popup-clock-free-mode .bx-tm-popup-clock-wnd-custom-date-picker {
	margin-left: -7px;
}
.bx-tm-popup-clock-wnd-custom-date-link {
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 2px;
	border-bottom: 1px dashed;
	color: #80868e;
	text-decoration: none;
	white-space: nowrap;
	font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 220ms all ease;
}
.bx-tm-popup-clock-wnd-custom-date-link-edit {
	margin-bottom: 11px;
}
.bx-tm-popup-clock-wnd-custom-date-picker{
	width: 101px!important;
	border: 1px solid #bcc0c5 !important;
	color: #6b727b;
	box-shadow: none;
	font: bold 17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 32px;
	padding: 0 18px 0 8px!important;
	outline: medium none;
	box-sizing: content-box;
	background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2215%22%20viewBox%3D%220%200%2017%2015%22%3E%20%20%3Cpath%20fill%3D%22%23A1A1A1%22%20d%3D%22M19.2203068%2C227.579302%20C19.4159762%2C227.579302%2019.6036161%2C227.503694%2019.7418756%2C227.369138%20C19.8801351%2C227.234582%2019.9576669%2C227.052123%2019.957385%2C226.861969%20L19.957385%2C225.786486%20C19.957385%2C225.390884%2019.6273838%2C225.070185%2019.2203068%2C225.070185%20C18.8132298%2C225.070185%2018.4832287%2C225.390884%2018.4832287%2C225.786486%20L18.4832287%2C226.861969%20C18.4829467%2C227.052123%2018.5604785%2C227.234582%2018.698738%2C227.369138%20C18.8369975%2C227.503694%2019.0246374%2C227.579302%2019.2203068%2C227.579302%20L19.2203068%2C227.579302%20Z%20M11.7858009%2C227.652584%20C12.2169272%2C227.652584%2012.566424%2C227.312939%2012.566424%2C226.893965%20L12.566424%2C225.758618%20C12.566424%2C225.339645%2012.2169272%2C225%2011.7858009%2C225%20C11.3546747%2C225%2011.0051778%2C225.339645%2011.0051778%2C225.758618%20L11.0051778%2C226.893965%20C11.0051778%2C227.095164%2011.0874218%2C227.288121%2011.233817%2C227.43039%20C11.3802123%2C227.572658%2011.5787668%2C227.652584%2011.7858009%2C227.652584%20L11.7858009%2C227.652584%20Z%20M22.0369225%2C226.582261%20L20.8134152%2C226.582261%20L20.8134152%2C227.098328%20C20.8134152%2C227.953376%2020.1001563%2C228.646529%2019.2203068%2C228.646529%20C18.3404574%2C228.646529%2017.6271984%2C227.953376%2017.6271984%2C227.098328%20L17.6271984%2C226.582261%20L13.3789093%2C226.582261%20L13.3789093%2C227.098328%20C13.3789093%2C227.953376%2012.6656504%2C228.646529%2011.7858009%2C228.646529%20C10.9059515%2C228.646529%2010.1926925%2C227.953376%2010.1926925%2C227.098328%20L10.1926925%2C226.582261%20L8.96918531%2C226.582261%20C8.41963391%2C226.58108%207.89468921%2C226.803615%207.52173741%2C227.195865%20C7.14878561%2C227.588115%206.96191611%2C228.114226%207.00647571%2C228.646529%20L7.00647571%2C238.967866%20C7.00647571%2C239.537898%207.48198171%2C240%208.06854801%2C240%20L22.9375597%2C240%20C23.524126%2C240%2023.999632%2C239.537898%2023.999632%2C238.967866%20L23.999632%2C228.646529%20C24.020459%2C227.558434%2023.1547325%2C226.647912%2022.0369225%2C226.582261%20Z%20M22%2C238%20L9.00000001%2C238%20L9.00000001%2C231%20L22%2C231%20L22%2C238%20Z%20M12.6705071%2C234.641161%20C12.2449609%2C234.998271%2011.8674281%2C235.406081%2011.5468347%2C235.854951%20C11.3616803%2C236.149457%2011.2456369%2C236.48002%2011.2069715%2C236.823092%20L14.7064997%2C236.823092%20L14.7064997%2C235.922039%20L12.7236107%2C235.922039%20C12.7820647%2C235.825793%2012.850385%2C235.735538%2012.9275286%2C235.652653%20C13.0110783%2C235.560449%2013.2107479%2C235.373976%2013.5265374%2C235.093236%20C13.7608069%2C234.894272%2013.9791618%2C234.678277%2014.1797118%2C234.44712%20C14.344479%2C234.251596%2014.479337%2C234.03398%2014.5801131%2C233.801005%20C14.6639123%2C233.59354%2014.7067873%2C233.372603%2014.7064997%2C233.149728%20C14.7148934%2C232.768765%2014.5538791%2C232.402777%2014.2646776%2C232.145462%20C13.9312208%2C231.861749%2013.4963595%2C231.716804%2013.0539152%2C231.741898%20C12.6354439%2C231.727784%2012.2241582%2C231.850236%2011.8856357%2C232.089727%20C11.5433086%2C232.380948%2011.3412673%2C232.797575%2011.3280478%2C233.239524%20L12.3168371%2C233.336544%20C12.3118734%2C233.115932%2012.3870846%2C232.900679%2012.5292515%2C232.728618%20C12.8124615%2C232.488233%2013.2338215%2C232.484726%2013.521227%2C232.720361%20C13.6488467%2C232.855654%2013.7140671%2C233.035733%2013.7017793%2C233.218881%20C13.6937327%2C233.432916%2013.6197322%2C233.63967%2013.4893648%2C233.812358%20C13.2408452%2C234.112072%2012.9669355%2C234.391035%2012.6705071%2C234.646322%20L12.6705071%2C234.641161%20Z%20M17.6696813%2C236.823092%20L18.635105%2C236.823092%20L18.635105%2C235.804376%20L19.2829691%2C235.804376%20L19.2829691%2C234.955962%20L18.635105%2C234.955962%20L18.635105%2C231.746026%20L17.79713%2C231.746026%20L15.5381023%2C234.960091%20L15.5381023%2C235.808505%20L17.6696813%2C235.808505%20L17.6696813%2C236.827221%20L17.6696813%2C236.823092%20Z%20M16.4727258%2C234.951834%20L17.6696813%2C233.221978%20L17.6696813%2C234.955962%20L16.4727258%2C234.955962%20L16.4727258%2C234.951834%20Z%22%20transform%3D%22translate%28-7%20-225%29%22/%3E%3C/svg%3E) no-repeat right 7px;
	background-position-x: 91%;
}
.timeman-hide{
	display: none!important;
}
.bx-tm-popup-clock-wnd-custom-date-block {
	margin: 6px 0 0 0;
	padding: 0;
	width: 100%;
}
.bx-tm-popup-clock-wnd .bx-tm-popup-clock-wnd-clock {
	margin: 17px 0 0 -10px!important;
}
.bx-tm-popup-clock-wnd-title-sm {
	margin-bottom: 0!important;
}
.bx-tm-popup-clock-wnd-subtitle {
	padding: 5px 0;
}

.bx-tm-calendars-list div {
	padding: 3px; margin: 3px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; width: 200px; white-space: nowrap; overflow: hidden;
}

.bx-tm-calendar-current {
	font-weight: bold;
}


.bx-tm-edit-popup {padding: 10px; width: 300px;}
.bx-tm-edit-popup .bx-tm-edit-popup-title {padding-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
}
.bx-tm-edit-popup .bx-tm-report-worktime div {margin: 2px; padding: 2px; clear: both; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.bx-tm-edit-popup .bx-tm-report-worktime div.bx-tm-report-approve {background-color: #E4FFE4; }
.bx-tm-edit-popup .bx-tm-report-worktime div.bx-tm-report-warning {background-color: #FFEEB4; }

.bx-tm-edit-popup .bx-tm-report-worktime div .bx-tm-report-caption{
	display: inline-block; width: 200px; text-align: right; font-size: 0.85em;
}

.bx-tm-edit-popup .bx-tm-report-worktime div .bx-tm-report-field{
	display: inline-block; background-color: white; border: solid 1px #B2B2B2; padding: 2px 5px; margin: 0px 10px; font-size: 0.85em;
}

.bx-tm-edit-popup .bx-tm-report-worktime div .bx-tm-report-field-expired{
	border: solid 1px red;
}




.bx-tm-edit-popup .bx-tm-report-worktime .bx-tm-report-warn-info div .bx-tm-report-caption{
	color: #999999; width: 130px; float: left;
}
.bx-tm-edit-popup .bx-tm-report-worktime .bx-tm-report-warn-info div .bx-tm-report-field{
	display: block; margin-left: 140px; border: none; padding: 0px;
}
.bx-tm-popup-edit-clock-wnd-clock  {text-align: center; padding: 0; width: 330px;}
.bx-tm-popup-edit-clock-wnd-clock .bx-tm-clock-caption {margin: 0; padding: 0 0 5px; display: inline-block; width: 130px; font-weight: bold;}
.bx-tm-popup-edit-clock-wnd-clock .bx-clock-div-inline {margin: 0 8px; text-align: center;}

.bx-tm-popup-edit-clock-wnd-clock .tm-double-clock-table {}
.bx-tm-popup-edit-clock-wnd-clock .tm-double-clock-table-row {height: 140px; width: 50%; text-align: center; vertical-align: middle;}
.bx-tm-popup-edit-clock-wnd .bx-tm-popup-clock-wnd-subtitle {text-align: left; font-weight: bold;}
.bx-tm-popup-edit-clock-wnd .bx-tm-popup-clock-wnd-report{float: none; text-align: center;}
.bx-tm-popup-edit-clock-wnd .bx-tm-popup-clock-wnd-report textarea{
	height: 100px; width: 280px; resize: none; padding:0; margin:0; color: #444; border: 1px solid #adadad; resize:none; font: normal 12px Verdana, Tahoma, sans-serif
}

.bx-tm-popup-edit-clock-wnd .bx-tm-field {font-size: 11px; color: #666666;margin: 5px;}
.bx-tm-popup-edit-clock-wnd .bx-tm-report-caption {display: inline-block; width: 60%; text-align: right;}
.bx-tm-popup-edit-clock-wnd .bx-tm-report-field {display: inline-block; font-weight: bold; margin-left: 5px;}

.bx-tm-report-edit {display: inline-block; background-color: white; border: solid 1px #B2B2B2; padding: 2px 5px; margin: 0px 10px; font-size: 0.85em;}
.bx-tm-edit-section {margin-bottom: 8px;}

.bx-tm-popup-report-error{
	border: solid 1px red;
}
.bx-tm-report-tpl {font: 12px Arial,Helvetica,sans-serif}
.bx-tm-report-tpl-item {
	color: #000000;
	cursor: pointer;
	display: block;
	padding: 1px;
	margin: 5px;
	height: 14px;
	width: 200px;
	overflow: hidden;
	white-space: nowrap;

	border-bottom: 1px dashed #fff;
}

.bx-tm-report-tpl-item:hover {border-color: #000000;}

.tm-time-edit-input {width: 30px; font-size: 11px; text-align: center;}
.tm-info-label{font-size: 12px;color: #777;width:50%;}
.tm-report-popup-marks {  float: left;  width: 30%; }
.tm-not-approve{text-align: center;font-size: 15px;color: #EA5F5F;height: 100%;vertical-align: middle; padding-top: 16px;margin-right:12px;}
.tm-report-popup-info { float: right;  width: 65%;background-color:#F4F0D2; border-radius:3px;padding:10px;padding-bottom:20px;}
.tm-report-popup-bottom-area {  height: 70px; overflow: hidden; white-space: nowrap;}
.tm-small-bottom{  height: 34px;}
.tm-report-popup-info-inner { background: #FFF; padding:  3px 14px 2px 14px; overflow: hidden;}
.bx-tm-report-legend {background-position: 0 0;  padding-left: 20px;}
.tm-legend p {margin: 12px 0;}
.tm-success-change {color:green;font-size:11px; padding:5px;display:none;}


.tm-report-popup-desc-text-weekly{max-height:205px;overflow: auto;padding:4px; margin-top:5px;overflow: hidden;}
.tm-mark-label {font-size:14px;color:#777;}
.bx-tm-edit-section {margin-bottom: 8px;}



.tm-popup-estimate-item { min-height:111px;font-size:14px; margin-bottom:-3px; overflow:hidden;position:relative;}
.tm-popup-estimate-popup-left{float:left; color:#000; text-align:center;  width: 135px;height: 85px;vertical-align: middle;text-align: center;}
.tm-popup-estimate-popup-center{float:left; padding: 6px 0 0 21px; width: 215px;min-height:53px;}
.tm-popup-estimate-right {float:left; padding:8px 0; width:300px;padding-top:30px;padding-left: 5px;}
.tm-popup-bord {background-color:#ededed; position:absolute; right:0; top:2px; height:100%; width:1px;}
.tm-popup-estimate-popup-left .tm-popup-bord {left: 142px;}
.tm-popup-estimate-popup-center .tm-popup-bord {left: 379px;}
.tm-popup-estimate-top-bord {background:url("../images/timeman-sprite.3.png") no-repeat #fff -3px -229px; height:22px; top:0; right:0; position:absolute; width:1px;}
.tm-popup-estimate-bot-bord {background:url("../images/timeman-sprite.3.png") no-repeat #fff 0 -229px; height:22px; bottom:0; right:0; position:absolute; width:1px;}
.tm-popup-estimate-cont-bord {background-color:#ededed; height:100%; position:absolute; width:1px;}
.tm-popup-estimate-cont{padding-top: 44px;}


.tm-popup-item-name {color:#a3a3a0; text-align:right; }

.timeman-comments-wrap
{
	clear: both;
	font-size: 12px;
	padding-top: 8px;
	max-height:150px;
	overflow:auto;
}
.mark-clean {display: inline-block;text-align: center;border-radius: 4px;width: 190px;padding: 4px 8px 7px 7px;font: normal 15px/14px Arial, Helvetica, sans-serif;border: 2px solid white;margin-top: 31px;}
.report-mark-N-clean { color: #4d4d4d; background-color:#f8c557;}
.report-mark-X-clean { color: #4d4d4d; background-color:#C3C3C3;}
.report-mark-G-clean { color: #FFF; background-color:#87C477;}
.report-mark-B-clean { color: #FFF; background-color:#E96264;}
.tm-popup-bord {background-color:#ededed; position:absolute; right:0; top:2px; height:100%; width:1px;}
.report-fixed-overlay {position: fixed;min-height: 100%;min-width: 100%;top: 0px;left: 0px;z-index: 1000;overflow: scroll!important;overflow-x: auto!important;overflow-y: scroll!important;display: none;}
.report-popup-main-table {width: 100%;height:100%;left: 0px;z-index: 3000;position: relative;min-width: 1024px;}
.report-popup-prev-slide-wrap{width:30%}
.report-popup-next-slide-wrap { width:30%}
.report-popup-main-table td {border:none; padding:0;}
.report-popup-close {height:120px; position:fixed; top:0; z-index:1100;outline:none;}
.report-popup-close span{background:url("/bitrix/js/tasks/css/images/task-popup-sprite.png") no-repeat -142px -217px; display:block; height:16px; top:15px; right:20px; position:absolute; width:16px;}
.report-popup-close:hover span{background-position:-76px -217px;}
.report-popup-prev-slide-wrap { width:30%}
.report-popup-prev-slide {display:block; top:0; width:100%; position:fixed;  z-index:500;outline:none;}
.report-popup-prev-slide span {background: url("/bitrix/js/tasks/css/images/task-popup-sprite.png") no-repeat -152px -113px; cursor:pointer; display:block; left:15px; height:60px; position:absolute;  width:28px; top:340px; }
.report-popup-prev-slide:hover span {background-position:-113px -113px;}
.report-popup-main-block-wrap { width:40%; }
.report-popup-main-block-wrap { border-radius: 4px; position: relative; z-index: 501;}
.report-popup-next-slide {display:block; text-align:right; top:0;  position:fixed;z-index:500;outline:none;}
.report-popup-next-slide span {background:url("/bitrix/js/tasks/css/images/task-popup-sprite.png") no-repeat 0 -113px; cursor:pointer; display:block; height:60px; position:absolute; right:15px; width:28px; top:340px;  }
.report-popup-next-slide:hover span {background-position:-35px -113px;}
.tm-popup-est-right-item {display:inline-block; font-size:11px; margin-top:5px; padding:0 3px; width:144px;}
.tm-popup-item-name {color:#a3a3a0; text-align:right; }

.tm-edit-link{background-image: url(/bitrix/themes/.default/public/popup/pencil.gif);
background-position: 8% 63%;
background-repeat: no-repeat;
padding: 2px;
font-size: 11px;
font-weight: normal;
cursor: pointer;
color: #999;
right: 3px;
position: relative;
padding: 4px 4px 4px 25px;
border-radius: 2px;bottom:0px;display: inline-block;}
.tm-link-div{right: 14px; position: absolute; z-index:1000;height: 24px}
.tm-edit-link:hover{color:#0069C4;text-decoration:underline}
.timeman-comment { background-color: #F2F2F2;margin-bottom: 2px;padding:5px;font-size:11px;font-family:Verdana;}
.timeman-comment-body {display: inline-block;vertical-align: top;overflow: hidden;width: 81%;}
.timeman-comment-avatar { display: inline-block; vertical-align: top; width: 30px; height: 30px; background: url(../images/timeman-sprite.2.1.png) no-repeat -69px -56px; border: 1px solid #D3D7D8; }
.timeman-comment-body { display: inline-block; vertical-align: top; overflow: hidden; width: 81%; }
.timeman-comment-header { padding-left: 10px; margin-bottom: 3px; }
.timeman-comment-createdby { vertical-align: middle; padding-right: 5px; }
.timeman-comment-content { overflow: hidden; padding-left: 10px; }
.timeman-comment-time { color:#929292; padding-right: 15px; vertical-align: middle; display: inline-block; }
.tm-item-comments-add a { text-decoration: underline !important; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; }
.tm-item-comments-add a:link, .tm-item-comments-add a:visited, .tm-item-comments-add a:active { color: #929292; }
.tm-item-comments-add a:hover { color: #727272; }
.tm_comment_text {overflow: auto;height: auto;width: 99%;border: 1px solid #DFDFDF;font: 11px Verdana,Arial,Helvetica,sans-serif;margin-bottom: 5px;resize: none;margin-top: 5px;}
.tm-comment-link-div{padding:5px}
.wr-call-lable{padding: 4px 0px 1px 0px;cursor:pointer;position: absolute;right:0px;top:0px; font-family: Arial; padding-bottom: 0;border-bottom: 1px dashed #0069C4; color: #0069C4; font-size: 12px;}

.tm-ag-buttons-save{cursor:pointer;margin-top: 1px;margin-right: 4px;}
.tm-ag-buttons-left {background:url("../images/timeman-sprite-report.png") no-repeat -67px -156px; display:inline-block; height:23px; vertical-align:top; width:4px;}
.tm-ag-buttons-cont {background:url("../images/timeman-sprite-report.png") repeat-x 0 -180px; display:inline-block; height:21px; padding:2px 0 0 22px; position:relative; vertical-align:top; width:68px;}
.tm-ag-buttons-right {background:url("../images/timeman-sprite-report.png") no-repeat -73px -156px; display:inline-block; height:23px; vertical-align:top; width:6px;}
.tm-ag-buttons-save .tm-ag-buttons-icon {background:url("../images/timeman-sprite-report.png") no-repeat 0 -73px; height:15px; left:0; top:3px; position:absolute; width:15px;}


.tm-popup-estimate-but {font-size:12px; line-height:12px; color:#808080; cursor:pointer; margin-top:4px;font-family:Arial;text-align:left;}
.tm-popup-estimate-but-l {display:inline-block; height:19px; vertical-align:top; width:3px;}
.tm-popup-estimate-but-c {display:inline-block;  height:16px; vertical-align:top; padding:3px 0 0 3px; width:189px;}
.tm-popup-estimate-but-r {display:inline-block; height:19px; vertical-align:top; width:3px;}
.tm-popup-estimate-but-text {display:inline-block; vertical-align:middle;}
.tm-popup-estimate-but-icon {background:url("../images/timeman-sprite.3.png") no-repeat; display:inline-block; margin-right:6px; vertical-align:middle; height:12px; width:12px;}

.tm-but-plus .tm-popup-estimate-but-icon {background-position: -6px -230px;}
.tm-but-minus .tm-popup-estimate-but-icon {background-position: -20px -230px;}
.tm-but-not-rated .tm-popup-estimate-but-icon {background-position: -33px -230px;}
.tm-but-notconfirm .tm-popup-estimate-but-icon {background-position: -63px -230px;}

.tm-but-active {color:#000!important;}

.tm-popup-estimate-but:hover .tm-popup-estimate-but-l{background:url("../images/timeman-sprite.3.png") no-repeat -55px -230px;}
.tm-popup-estimate-but:hover .tm-popup-estimate-but-c{background:url("../images/timeman-sprite.3.png") repeat-x  0 -272px;}
.tm-popup-estimate-but:hover .tm-popup-estimate-but-r{background:url("../images/timeman-sprite.3.png") no-repeat -59px -230px;}

.tm-but-active.tm-but-plus .tm-popup-estimate-but-l{background:url("../images/timeman-sprite.3.png") no-repeat -47px -230px !important;}
.tm-but-active.tm-but-plus .tm-popup-estimate-but-c{background:url("../images/timeman-sprite.3.png") repeat-x  0 -292px !important;}
.tm-but-active.tm-but-plus .tm-popup-estimate-but-r{background:url("../images/timeman-sprite.3.png") no-repeat -51px -230px !important;}

.tm-but-active.tm-but-minus .tm-popup-estimate-but-l{background:url("../images/timeman-sprite.3.png") no-repeat -76px -230px !important;}
.tm-but-active.tm-but-minus .tm-popup-estimate-but-c{background:url("../images/timeman-sprite.3.png") repeat-x  0 -312px !important;}
.tm-but-active.tm-but-minus .tm-popup-estimate-but-r{background:url("../images/timeman-sprite.3.png") no-repeat -80px -230px !important;}

.tm-but-active.tm-but-notconfirm .tm-popup-estimate-but-l{background:url("../images/timeman-sprite.3.png") no-repeat -84px -230px !important;}
.tm-but-active.tm-but-notconfirm .tm-popup-estimate-but-c{background:url("../images/timeman-sprite.3.png") repeat-x  0 -252px !important;}
.tm-but-active.tm-but-notconfirm .tm-popup-estimate-but-r{background:url("../images/timeman-sprite.3.png") no-repeat -88px -230px !important;}
.tm-but-active.tm-but-not-rated .tm-popup-estimate-but-l{background:url("../images/timeman-sprite.3.png") no-repeat -92px -230px !important;}
.tm-but-active.tm-but-not-rated .tm-popup-estimate-but-c{background:url("../images/timeman-sprite.3.png")  repeat-x  0 -332px !important;}
.tm-but-active.tm-but-not-rated .tm-popup-estimate-but-r{background:url("../images/timeman-sprite.3.png") no-repeat -96px -230px !important;}

.tm-popup-est-right-item {display:inline-block; font-size: 11px; margin-top:5px; padding:0 3px; width:130px;}
.tm-popup-item-name {color:#a3a3a0; text-align:right;}

.tm-settings-item {cursor:pointer;margin-right: 10px;white-space: nowrap;}
.tm-settings-l {background:url("../images/timeman-sprite.3.png") no-repeat 50px 50px; display:inline-block; height:22px; vertical-align:top; width:4px;}
.tm-settings-c {background:url("../images/timeman-sprite.3.png") repeat-x 50px 50px; display:inline-block; height:18px; vertical-align:top; padding:4px 2px 0 20px; position:relative;}
.tm-settings-r {background:url("../images/timeman-sprite.3.png") no-repeat 50px 50px; display:inline-block; height:22px; vertical-align:top; width:4px;}
.tm-settings-icon {background:url("../images/timeman-sprite.3.png") no-repeat -87px 0; display:block; height:13px; left:2px; top:5px; width:13px; position:absolute;}


.tm-settings-item:hover .tm-settings-l {background-position:0 -352px}
.tm-settings-item:hover .tm-settings-c {background-position:0 -375px}
.tm-settings-item:hover .tm-settings-r {background-position:-6px -352px}

.tm-settings-item-active .tm-settings-l {background-position:-11px -352px!important;}
.tm-settings-item-active .tm-settings-c {background-position:0 -398px!important;}
.tm-settings-item-active .tm-settings-r {background-position:-16px -352px!important;}
.report-body-overflow{overflow: hidden!important;overflow: hidden!important;position: relative;}
.tm-report-text{overflow-x:auto;overflow-y:auto;max-height: 200px;}
.tm-report-lhe{border:1px solid #D9D9D9;height:200px;padding:0px;display:none;}


.tm-reject-button {display:inline-block;}
.tm-reject-button, .tm-reject-l, .tm-reject-r, .tm-reject-c {
	display: inline-block; vertical-align: top !important; height:35px; line-height:35px; cursor:pointer; text-decoration:none !important; outline:none;
}
.tm-reject-l,
.tm-reject-c,
.tm-reject-r{cursor: pointer; display: inline-block; height: 27px; line-height: 27px; vertical-align: top;}

.tm-reject-l {background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -15px -493px; width:4px;}
.tm-reject-c { background: url("/bitrix/js/main/core/images/controls-sprite.png") repeat-x 0 -551px;font: normal normal normal 15px/25px Arial, Helvetica, sans-serif; padding:0 8px;color: #4f4f4f;}
.tm-reject-icon {background:url("../images/timeman-sprite.3.png") no-repeat -22px -352px; display:inline-block; height:16px; position:relative; width:8px;margin-right: 6px;top:2px;}
.tm-reject-r {background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -22px -493px; width: 6px;}
.webform-button-upload .tm-reject-l {background-position: -15px -927px;}
.webform-button-upload .tm-reject-c {background-position:0 -985px;color:#5B5B5B;}
.webform-button-upload .tm-reject-r {background-position:-22px -927px}
.webform-field-upload:hover .tm-reject-c { color: #000; cursor:pointer !important;}
.webform-button-upload, .webform-button-upload .tm-reject-l, .webform-button-upload .tm-reject-r, .webform-button-upload .tm-reject-c { display: inline-block; vertical-align: top; height:27px; line-height:27px; cursor:pointer;}
.report-webform-field-upload-list { margin: 6px 6px 11px 25px; padding:0;}
.report-webform-field-upload-list a.upload-file-name { margin: 0 0 0 -4px; color: #0069c4; text-decoration: underline;}
.report-webform-field-upload-list a.upload-file-name:hover { color: #1c91e7; }
.report-webform-field-upload-list li { margin: 0 0 3px -5px; white-space: nowrap; color: #888;}
.report-webform-field-upload-list li.uploading { color: #bbbbbb; }
.report-webform-field-upload-list li.uploading a.upload-file-name { cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }
.report-webform-field-upload-list a.delete-file { vertical-align:top; display: inline-block; width:15px; height: 16px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -281px; margin: 0 0 0 6px; outline: none;}
.report-webform-field-upload-list a.delete-file:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -17px -281px; cursor:pointer; }
.report-webform-field-upload-list i { vertical-align:top; display: none; width:15px; height: 15px; background: url(/bitrix/js/timeman/images/waiter-small-white.gif) no-repeat 0 2px; margin: 0 0 0 8px; }
.report-webform-field-upload-list li.uploading i {  display: inline-block; }
.report-file-list{padding-left: 20px;font-size: 12px;font-family:Arial}

.report-webform-field-upload
{
	overflow: hidden;
	width: 250px;
	height: 39px;
	line-height: 39px;
	cursor: pointer;
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
}

.report-webform-field-upload input[type=file]
{
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	font-size: 150px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid transparent;
}

.report-webform-field-upload .webform-small-button
{
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}


.settings-restore {
	background: url("../images/recovery.gif") repeat scroll left top transparent;
	cursor: pointer;
	height: 13px;
	margin-left: 8px;
	outline: medium none;
	width: 13px;
	display: inline-block;
	vertical-align: middle;
}
.settings-restore:hover {
	background: url("../images/recovery.gif") repeat scroll left bottom transparent;
}


.timeman-popup-prev-slide {display:block; top:0; left: 0; width:30%; height: 100%; position:fixed; z-index:500;}
.timeman-popup-prev-slide span {background: url("/bitrix/js/tasks/css/images/task-popup-sprite.png") no-repeat -152px -113px; cursor:pointer; display:block; height:60px; position:absolute; width:28px; top:340px; }
.timeman-popup-prev-slide:hover span {background-position:-113px -113px;}

.timeman-popup-next-slide {display:block; top:0; right: 0; width:30%; height: 100%; position:fixed; z-index:490;}
.timeman-popup-next-slide span {background:url("/bitrix/js/tasks/css/images/task-popup-sprite.png") no-repeat 0 -113px; cursor:pointer; display:block; height:60px; position:absolute; width:28px; top:340px;  }
.timeman-popup-next-slide:hover span {background-position:-35px -113px;}

.timeman-popup-close {height:120px; position:fixed; top:0; right: 0; z-index:495; width: 30%;}
.timeman-popup-close span{background:url("/bitrix/js/tasks/css/images/task-popup-sprite.png") no-repeat -142px -217px; display:block; height:16px; top:15px; right:38px; position:absolute; width:16px;}
.timeman-popup-close:hover span{background-position:-76px -217px;}
div.bx-tm-dialog-overlay {top:0; left:0; width:100%; height:100%; position: absolute; background-color: #333; opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}

/********** socserv styles *************/
.bx-spacer {display:inline-block; width:8px;}
.bx-spacer-vert {display:inline-block; height:10px;}
.bx-spacer-vert25 {display:inline-block; height:25px;}

.bx-timeman-socserv-div {padding-bottom: 9px; padding-left: 50px; }
.ss-socserv-setup-link {padding-left: 10px; color: grey !important; text-decoration:underline; }
.ss-text-for-message {width: 300px; height: 110px;}


.tm-info-bar {
	border-radius: 4px;
	border: 1px solid;
	height: 31px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 14px 9px;
	position: relative;
}


.tm-info-bar {
	background-color:#abe89b;
	background-image: -webkit-linear-gradient(top, #c1eeb5, #a5e693);
	background-image:    -moz-linear-gradient(top, #c1eeb5, #a5e693);
	background-image:     -ms-linear-gradient(top, #c1eeb5, #a5e693);
	background-image:      -o-linear-gradient(top, #c1eeb5, #a5e693);
	background-image:         linear-gradient(to bottom, #c1eeb5, #a5e693);
	border-color: #bfe5b5 #aee1a0 #a8df99;
}

.tm-info-bar-pause {
	background-color: #dbdbdb;
	background-image: -webkit-linear-gradient(top, #e6e6e6, #dadada);
	background-image:    -moz-linear-gradient(top, #e6e6e6, #dadada);
	background-image:     -ms-linear-gradient(top, #e6e6e6, #dadada);
	background-image:      -o-linear-gradient(top, #e6e6e6, #dadada);
	background-image:         linear-gradient(to bottom, #e6e6e6, #dadada);
	border-color: #dddedd #d6d7d5 #d4d5d4;
}

.tm-info-bar-overdue .tm-info-bar-time {
	color: #cc2020;
}

.tm-info-bar-time {
	height: 22px;
	font-size: 12px;
	padding: 9px 5px 0 7px;
	z-index: 2;
	float: right;
	position: relative;
}

.tm-info-bar-time:before {
	background: url(/bitrix/js/timeman/images/timeman-sprite.2.1.png) no-repeat -35px -54px;
	content: "";
	left: -6px;
	top: 10px;
	height: 11px;
	position: absolute;
	width: 11px;
}

.tm-info-bar-active .tm-info-bar-time {
	background-color: #abe89b ;
	background-image: -webkit-linear-gradient(top, #c1eeb5, #a5e693);
	background-image:    -moz-linear-gradient(top, #c1eeb5, #a5e693);
	background-image:     -ms-linear-gradient(top, #c1eeb5, #a5e693);
	background-image:      -o-linear-gradient(top, #c1eeb5, #a5e693);
	background-image:         linear-gradient(to bottom, #c1eeb5, #a5e693);
}

.tm-info-bar-pause .tm-info-bar-time {
	background-color: #dbdbdb;
	background-image: -webkit-linear-gradient(top, #e6e6e6, #dadada);
	background-image:    -moz-linear-gradient(top, #e6e6e6, #dadada);
	background-image:     -ms-linear-gradient(top, #e6e6e6, #dadada);
	background-image:      -o-linear-gradient(top, #e6e6e6, #dadada);
	background-image:         linear-gradient(to bottom, #e6e6e6, #dadada);
}

.tm-info-bar-btn {
	background-color: #f3f3f3;
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image:    -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image:     -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image:      -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image:         linear-gradient(to bottom, #f9f9f9, #ececec);
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .07);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .07);
	cursor: pointer;
	float: left;
	margin:3px 0 0 3px;
	height: 25px;
	position: relative;
	width: 26px;
}

.tm-info-bar-btn:before {
	background: url(/bitrix/js/timeman/images/timeman-sprite.2.1.png) no-repeat 100px 100px;
	content: "";
	height: 13px;
	left: 8px;
	top: 7px;
	position: absolute;
	width: 12px;
}

.tm-info-bar-btn-flag:before {
	background-position: -83px -107px;
}
.tm-info-bar-btn-play:before {
	background-position: -72px -231px;
}
.tm-info-bar-btn-pause:before {
	background-position: -58px -106px;
}

.tm-info-bar-text
{
	display: block;
	margin: 5px 0 0;
	overflow: hidden;
	padding-left: 10px;
}

.tm-info-bar-text .tm-info-bar-text-inner {
	display: block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tm-info-bar-active .tm-info-bar-btn-play {
	display: none;
}

.tm-info-bar-pause .tm-info-bar-btn-pause {
	display: none;
}

.tm-info-bar-closed .tm-info-bar-btn-flag {
	display: none;
}
.bx-tm-popup-date-selector-wnd .bx-tm-popup-clock-wnd-report{
	margin-left: 30px;
}
.bx-tm-popup-date-selector-wnd .bx-tm-popup-clock-wnd-clock {
	margin: 17px 0 0 -25px!important;
}
.bx-tm-popup-date-selector-wnd .bx-tm-popup-clock-wnd-subtitle {
	margin-left: 0!important;
}
.bx-tm-popup-edit-time-date-wnd .bx-tm-popup-clock-wnd-custom-date-block {
	margin: 2px 0 10px 0;
}