.invite-wrap {
	 padding: 0 3px !important;
 }

.invite-body {
	min-height: 100vh;
	position: relative;
}

.invite-menu-sub {
	color: #2fc6f6;
	margin-left: 6px;
	background-color: #d1eef8;
	border-radius: 11px;
	padding: 0 8px 2px 8px;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

/*region title*/
.invite-title-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid #edeef0;
	padding-bottom: 9px;
	margin-bottom: 17px;
	/*padding-left: 3px;*/
}

.invite-title-icon {
	width: 47px;
	height: 47px;
	flex-basis: 47px;
}

.invite-title-icon-message {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='47px' height='47px' viewBox='0 0 47 47' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eиконка%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='иконка'%3E%3Ccircle id='Oval' fill='%232FC6F6' cx='23.5' cy='23.5' r='23.5'%3E%3C/circle%3E%3Cpath d='M37.7585085,26.3048454 L37.7585085,35.4700462 C37.7585085,36.0353609 37.2376075,36.4934823 36.5920903,36.4934823 L22.7048235,36.4934823 C22.0608622,36.4934823 21.5384451,36.0360426 21.5384451,35.4700462 L21.5384451,26.3048454 L29.6484768,32.3019639 L37.7585085,26.3048454 Z M28.8082926,12.6719752 C30.255057,14.2954902 30.6380364,19.3663378 30.0466598,22.7425556 L21.6634933,22.7414927 C20.5541213,22.7414927 19.6456651,23.6017153 19.568766,24.6915193 L19.5634932,24.8414927 L19.5638468,27.0413183 C19.2354651,27.0421792 18.9081049,27.0396604 18.5835537,27.0336421 L17.5905114,27.9175604 C16.179486,29.1618264 14.551239,30.5425013 14.2736149,30.5425013 C13.8928887,30.5425013 13.7989741,27.8992416 13.7758738,26.5956726 C12.72195,26.3834483 11.9131784,26.0905629 11.5021126,25.7068094 C9.33839007,23.687232 9.66692682,14.830201 11.5021126,12.6719752 C13.3372325,10.5137474 26.7593539,10.3727174 28.8082926,12.6719752 Z M36.5108113,24.880319 L29.6484768,29.6062175 L22.7861423,24.880319 L36.5108113,24.880319 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.invite-title-icon-link {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='47px' height='47px' viewBox='0 0 47 47' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ccircle fill='%232FC6F6' cx='23.9055216' cy='23.9055216' r='23'%3E%3C/circle%3E%3Ccircle fill='%23FFFFFF' cx='24' cy='24' r='14'%3E%3C/circle%3E%3Cg transform='translate(15.405522, 15.405522)' fill='%232FC6F6'%3E%3Cpath d='M15.0821384,7.76876249 L12.1561012,10.6938319 C10.541162,12.309719 7.92131941,12.309719 6.30610735,10.6938319 C6.05168417,10.440126 5.85264748,10.1542593 5.67785944,9.8594571 L7.03742053,8.50000426 C7.10204948,8.43482992 7.18185514,8.39748513 7.25811389,8.35348989 C7.35210723,8.67462102 7.51618631,8.97863152 7.76873371,9.23121193 C8.57524838,10.0383711 9.88760818,10.0372456 10.6936454,9.23121193 L13.6187617,6.30621074 C14.4258902,5.49915392 14.4258902,4.18710681 13.6187617,3.38066388 C12.8126904,2.57422095 11.5006716,2.57422095 10.6936454,3.38066388 L9.65347747,4.42195271 C8.8093791,4.09328441 7.89996969,4.00491878 7.01467251,4.13465358 L9.23118955,1.91821445 C10.8470837,0.302634301 13.4662442,0.302634301 15.0821384,1.91821445 C16.6972481,3.53372638 16.6972481,6.15328466 15.0821384,7.76876249 Z M7.34699148,12.5785674 L6.30607325,13.6198562 C5.49962679,14.4258899 4.18719878,14.4258899 3.3806159,13.6198562 C2.57410123,12.8126971 2.57410123,11.50065 3.3806159,10.6938319 L6.30607325,7.76876249 C7.1131677,6.96177388 8.42470898,6.96177388 9.23115544,7.76876249 C9.48312307,8.02079722 9.64737267,8.32473952 9.74225274,8.64546138 C9.81895485,8.60088637 9.89777147,8.56466703 9.96236631,8.49997016 L11.3218251,7.141063 C11.1481625,6.84510124 10.9481027,6.56025766 10.6935772,6.30627895 C9.07877437,4.69069881 6.45869305,4.69069881 4.84310584,6.30627895 L1.91809185,9.23138245 C0.302675164,10.8474401 0.302675164,13.466248 1.91809185,15.0821692 C3.53367907,16.6972378 6.1531465,16.6972378 7.76869961,15.0821692 L9.98579643,12.8652526 C9.10002178,12.9957377 8.19037364,12.9066218 7.34699148,12.5785674 Z' id=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.invite-title-icon-depart {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='47px' height='47px' viewBox='0 0 47 47' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg transform='translate(1, 1)'%3E%3Ccircle fill='%232FC6F6' cx='22.9055216' cy='22.9055216' r='23'%3E%3C/circle%3E%3Cpath d='M16.3734306,20.9585636 L21.5686125,23.9580033 L21.5686125,29.9568827 L16.3734306,32.9563224 L11.1782486,29.9568827 L11.1782486,23.9580033 L16.3734306,20.9585636 Z M29.4376127,20.9585636 L34.6327946,23.9580033 L34.6327946,29.9568827 L29.4376127,32.9563224 L24.2424307,29.9568827 L24.2424307,23.9580033 L29.4376127,20.9585636 Z M22.7563626,9.86995208 L27.9515446,12.8693918 L27.9515446,18.8682712 L22.7563626,21.8677109 L17.5611807,18.8682712 L17.5611807,12.8693918 L22.7563626,9.86995208 Z' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.invite-title-icon-registration {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='47px' height='47px' viewBox='0 0 47 47' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg transform='translate(1, 1)'%3E%3Ccircle fill='%232FC6F6' cx='22.9055216' cy='22.9055216' r='23'%3E%3C/circle%3E%3Cpath d='M26.5295575,13.0822387 C26.6955258,14.2281436 26.6955258,15.3919835 26.5295575,16.5378883 L26.6111085,16.5396245 C26.8169455,16.5631702 27.3132526,16.7538728 26.9090159,18.1005032 L26.789193,18.4858126 C26.6705368,18.8442134 26.3702154,19.5785425 25.9607115,19.3467256 L25.9627516,19.5445449 C25.9559942,20.0026471 25.8698678,21.1146809 25.204131,21.3430723 L25.2641445,22.3140601 L25.9658409,22.4238284 C25.9413168,22.7092909 25.9820092,22.9965933 26.084842,23.2640175 C26.7264803,23.6955084 27.4320172,24.0233511 28.175569,24.2355182 C30.2695966,24.7879725 31.3771504,25.7196232 31.4695009,26.5591274 L31.4757989,26.6729899 C31.4757989,26.6729899 32.4821908,30.5469963 32.8693876,32.7770388 C29.6861348,33.4216943 26.214515,33.7762486 22.5804411,33.7762486 C19.2333816,33.7762486 16.0241286,33.4754871 13.0510173,32.9240904 L13.6706994,29.7058091 C13.8700929,28.6977914 14.0579537,27.7851088 14.1703656,27.328522 C14.4725315,26.1012062 16.0481351,25.1591844 17.6269759,24.4199863 L18.099455,24.2042291 C18.9914506,23.8056779 19.1827758,23.5676756 20.0824654,23.1573268 C20.1159948,22.9915281 20.1361267,22.823439 20.142732,22.6546852 L20.1424789,22.4012592 L20.9057276,22.306879 L20.9123911,22.3159622 C20.9318161,22.334663 20.9789065,22.3132907 20.8446883,21.3835943 L20.7757226,21.3555292 C20.571275,21.2557501 19.9806142,20.8412872 19.9475633,19.3739112 L19.8996987,19.3854902 C19.759778,19.4105355 19.3563138,19.4171698 19.2767282,18.6881302 L19.2648455,18.5203858 C19.2397418,17.8338964 18.7516398,17.231919 19.3532931,16.7277104 L19.4792527,16.6343202 L19.076598,15.5186845 L19.0508302,15.1447461 C18.9979026,14.1038969 18.9904248,11.2676578 20.5092281,11.5547155 C19.7557252,10.3123846 26.1079241,9.28189623 26.5295575,13.0822387 Z' id='Path' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.invite-title-icon-mass {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='47px' height='47px' viewBox='0 0 47 47' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg transform='translate(1, 1)'%3E%3Ccircle id='Oval' fill='%232FC6F6' cx='22.9055216' cy='22.9055216' r='23'%3E%3C/circle%3E%3Cpath d='M25.8712808,15.0470565 C26.015937,16.0458149 26.015937,17.0602054 25.8712808,18.0589639 L25.9423598,18.0604772 C26.1217651,18.0809994 26.5543412,18.2472137 26.2020128,19.4209224 L26.0975763,19.7567541 C25.9941568,20.0691324 25.7323999,20.7091658 25.3754807,20.5071167 L25.3772588,20.6795339 C25.3713691,21.0788108 25.2963023,22.0480477 24.7160531,22.2471113 L24.7683602,23.0934139 L25.3799514,23.1890868 C25.3585765,23.4378929 25.3940435,23.6883026 25.4836715,23.9213867 C26.0429166,24.2974696 26.6578551,24.5832138 27.3059269,24.7681364 C29.1310591,25.2496497 30.0963913,26.0616666 30.176883,26.7933695 L30.1823723,26.8926108 C30.1823723,26.8926108 31.0595327,30.2691536 31.3970094,32.212835 C28.6225201,32.7747098 25.5966931,33.0837356 22.4292729,33.0837356 C19.5120114,33.0837356 16.7148606,32.8215951 14.1235284,32.3410036 L14.6636367,29.5359838 C14.8374259,28.6574063 15.0011634,27.8619218 15.0991404,27.4639656 C15.362505,26.3942502 16.7357844,25.5731941 18.1118852,24.9289168 L18.523693,24.7408651 C19.3011469,24.3934921 19.4679039,24.1860518 20.2520638,23.8283962 C20.2812877,23.6838878 20.2988345,23.5373831 20.3045916,23.3902991 L20.304371,23.1694157 L20.9696104,23.0871549 L20.9754182,23.0950718 C20.9923489,23.1113712 21.0333924,23.0927433 20.9164092,22.2824298 L20.8562994,22.2579686 C20.678105,22.1710021 20.1632914,21.8097606 20.1344845,20.5308113 L20.0927663,20.5409035 C19.9708129,20.5627327 19.6191578,20.5685151 19.5497918,19.9330919 L19.539435,19.7868876 C19.5175549,19.1885508 19.0921303,18.6638737 19.616525,18.2244108 L19.7263101,18.143013 L19.3753605,17.1706367 L19.3529015,16.844716 C19.3067704,15.9375229 19.3002528,13.465487 20.6240257,13.7156834 C19.9672805,12.632881 25.5037896,11.7347183 25.8712808,15.0470565 Z M32.3189504,14.0618293 C32.9707747,14.1130861 33.5965376,14.3399709 34.1297469,14.7183754 C34.4934433,15.018198 34.7672592,15.4126512 34.9209908,15.8582241 C35.1372404,16.7549456 35.2972411,17.6643045 35.4000577,18.5809843 C35.4461447,19.0742658 35.529546,19.5633457 35.6495452,20.0440231 C35.7841173,20.4334279 35.9404112,20.8148672 36.1176559,21.1865551 L36.3003663,21.5536075 L36.0920084,21.3868081 C35.88823,21.2116297 35.7030014,21.0156103 35.5394149,20.8018044 L35.6955612,21.3664451 C35.7011485,21.3848152 35.7056928,21.3989554 35.7088461,21.4075211 C35.786341,21.5254089 35.8552787,21.6487042 35.9151287,21.7764577 C35.9009918,21.7764577 35.8378919,21.8022496 35.7645392,21.8344895 L35.4915506,21.959867 L33.9954726,22.4376631 L34.0166515,23.1624053 C34.3010783,23.2779698 34.5504435,23.4657237 34.740123,23.7071267 C34.8300528,23.9390232 34.9732663,24.1465159 35.1581946,24.3128435 C35.5190263,24.4408212 35.8665791,24.6035327 36.195961,24.7986876 C36.6945775,25.0821032 37.2435648,25.2658183 37.8123351,25.3395968 C38.3850127,25.4357491 38.7463249,26.3807519 38.7463249,26.3807519 L38.8762842,29.0147611 L38.8762842,29.0147611 C37.0751576,29.566751 35.0141109,30.0242207 32.7631305,30.3628558 L32.6434113,30.3623862 C32.5942762,29.6795783 31.769146,26.6463353 31.74712,26.4815634 C31.714928,25.5560453 30.9173304,24.7287972 29.5546796,24.163744 C29.657877,24.0210932 29.7461614,23.8682278 29.8181452,23.7075503 C29.9700771,23.5145392 30.1600059,23.3557197 30.3754472,23.240499 L30.5416166,23.1624053 L30.5632191,22.4376631 L29.0675648,21.9581727 L28.79439,21.8327952 C28.7210249,21.8005553 28.6579647,21.7747634 28.6439866,21.7747634 C28.6882331,21.6633721 28.7437267,21.5567847 28.8096057,21.4566562 L28.9413245,21.047883 C28.9835499,20.9138068 29.0192769,20.7992629 29.0192769,20.7992629 C28.8026471,21.0846867 28.5476455,21.338833 28.2614956,21.5545027 C28.5236387,21.0815811 28.7456654,20.5875113 28.9252425,20.0774858 C29.0438876,19.5857181 29.1233458,19.0853156 29.1628698,18.5809843 C29.2654673,17.6642438 29.4256135,16.7548625 29.6423603,15.8582241 C29.7963881,15.4129108 30.0699815,15.0185669 30.4331806,14.7183754 C30.8996608,14.3871225 31.4371076,14.1719938 32.0008792,14.0891752 L32.2439771,14.0618293 L32.3189504,14.0618293 Z M13.1113765,14.0572563 C13.7632414,14.1083253 14.3890528,14.3352277 14.922173,14.7138024 C15.2853721,15.0139939 15.5589655,15.4083377 15.7129933,15.8536511 C15.9297401,16.7502894 16.0898863,17.6596707 16.1924838,18.5764113 C16.2319866,19.080745 16.311445,19.5811492 16.4301111,20.0729128 C16.6097085,20.5829301 16.8317345,21.0769982 17.093858,21.5499297 C16.8078578,21.3342299 16.5530001,21.0800849 16.3365003,20.7946899 L16.5465951,21.4525067 C16.6124639,21.5526412 16.6679569,21.6592275 16.7122141,21.7706139 C16.6749393,21.7706139 16.288636,21.9540232 16.288636,21.9540232 L14.7925581,22.4330901 L14.8141606,23.1578322 C15.0984321,23.2738739 15.3477171,23.4617133 15.537632,23.7029773 C15.6095945,23.8636656 15.6978802,24.0165332 15.8010976,24.1591709 C14.4384468,24.7242241 13.6408492,25.5514722 13.6090808,26.4769904 L13.5690679,26.651208 L13.193699,28.1318992 C12.9714797,29.0210871 12.7382241,30.0043596 12.7127895,30.3578131 L12.1727744,30.3582857 C10.0928844,30.0466713 8.17472453,29.6336607 6.47280512,29.1377359 L6.60902876,26.3761788 L6.65118664,26.2771293 C6.76200823,26.0321317 7.08487642,25.4119456 7.54301852,25.3350238 C8.11178879,25.2612452 8.66077607,25.0775301 9.15939263,24.7941145 C9.48877947,24.5989691 9.83633137,24.436258 10.197159,24.3082704 C10.3820993,24.1419534 10.525315,23.9344576 10.6152306,23.7025537 C10.8049239,23.4611647 11.054285,23.2734139 11.3387021,23.1578322 L11.3603046,22.4330901 L9.86422663,21.9552939 L9.59123797,21.8299165 C9.51788533,21.7976765 9.45478543,21.7718846 9.44064851,21.7718846 C9.50037478,21.6441501 9.56917033,21.520856 9.64650747,21.4029481 L9.74738228,21.0510032 C9.78395425,20.9171011 9.81593872,20.7972314 9.81593872,20.7972314 C9.59783161,21.0823131 9.34124038,21.3357683 9.0534981,21.5503533 C9.30832715,21.0636993 9.52637301,20.5586541 9.70580841,20.0394501 C9.82580124,19.5587713 9.90920245,19.0696919 9.95529592,18.5764113 C10.0581125,17.6597314 10.2181133,16.7503725 10.4343628,15.8536511 C10.5881142,15.4080882 10.8619267,15.01364 11.2256067,14.7138024 C11.758816,14.3353978 12.3845789,14.108513 13.0364032,14.0572563 L13.1113765,14.0572563 Z' id='Shape' fill='%23FFFFFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.invite-title-icon-activedirectory {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='47px' height='47px' viewBox='0 0 47 47' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg transform='translate(1, 1)'%3E%3Ccircle fill='%232FC6F6' fill-rule='evenodd' cx='22.9055216' cy='22.9055216' r='23'%3E%3C/circle%3E%3Cpath d='M34.2314509,19.024162 L34.2314509,32.3647727 L12.7685491,32.3647727 L12.7685491,19.024162 L34.2314509,19.024162 Z M24.3769636,22.2869167 C24.339782,22.3512149 24.3277743,22.42702 24.3432644,22.4996615 L25.8369052,29.5041284 C25.8714592,29.6661707 26.030832,29.7695202 26.1928742,29.7349661 C26.2627915,29.7200569 26.3250865,29.68067 26.3685371,29.6239008 L27.2586386,28.4609636 C27.3593411,28.3293936 27.5476352,28.3043705 27.6792052,28.405073 C27.7022136,28.4226834 27.7225494,28.4435341 27.7395792,28.4669754 L29.2683916,30.5713772 C29.3518427,30.686288 29.5016001,30.7245403 29.6270987,30.6717992 L29.6874133,30.6377404 L29.6874133,30.6377404 L30.8751337,29.7747123 C31.0091455,29.6773014 31.0388563,29.4897053 30.9415031,29.3556516 L29.4127023,27.2512659 C29.31532,27.1172198 29.345042,26.92961 29.4790881,26.8322278 C29.5025333,26.8151952 29.5283227,26.8016495 29.5556525,26.7920128 L30.9362647,26.3052008 C31.0925209,26.2501039 31.1745267,26.0787684 31.1194298,25.9225122 C31.0956538,25.8550827 31.048577,25.7983617 30.9866821,25.7625698 L24.7868469,22.1773917 C24.6434162,22.09445 24.4599053,22.1434861 24.3769636,22.2869167 Z M23.4978537,13.1096896 L25.4515491,15.0436896 L34.2314509,15.0437 L34.2314509,17.4648888 L12.7685491,17.4648888 L12.7685491,13.1096896 L23.4978537,13.1096896 Z' id='Combined-Shape' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.invite-title-text {
	padding-left: 17px;
	/*flex: 1;*/
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #333;
	letter-spacing: 0;
}

.invite-title-helper {
	height: 13px;
	width: 13px;
	opacity: .7;
	margin-left: 6px;
	position: relative;
	bottom: -1px;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='13px' height='13px' viewBox='0 0 13 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath fill='%23B1B7C5' d='M6.48909256,7.84708249e-05 C10.0727505,7.84708249e-05 12.9779759,2.90506841 12.9779759,6.48914487 C12.9779759,10.072672 10.0727505,12.9778974 6.48909256,12.9778974 C2.90525151,12.9778974 0,10.072672 0,6.48914487 C0,2.90506841 2.90525151,7.84708249e-05 6.48909256,7.84708249e-05 Z M6.4288003,8.78497668 C6.2148869,8.78497668 6.03442028,8.85686673 5.88740045,9.00053276 C5.74028936,9.14426723 5.66682508,9.32135722 5.66682508,9.53191682 C5.66682508,9.7692384 5.74282183,9.95388016 5.8949294,10.0858421 C6.04696853,10.2178268 6.2249255,10.2838763 6.42882311,10.2838763 C6.62599031,10.2838763 6.79974931,10.2170055 6.95014576,10.0833553 C7.10054221,9.94970502 7.17574044,9.7658846 7.17574044,9.53191682 C7.17574044,9.32135722 7.10382757,9.14426723 6.96018436,9.00053276 C6.81644989,8.85686673 6.63935989,8.78497668 6.4288003,8.78497668 Z M6.54912658,2.69412575 C6.02778112,2.69412575 5.57159528,2.80110527 5.18056908,3.01495022 C4.78956568,3.22886362 4.49205814,3.49871939 4.28825178,3.82456316 C4.08437698,4.15040692 3.9824624,4.47209836 3.9824624,4.78956902 C3.9824624,4.94331928 4.04677787,5.08618678 4.17543163,5.21819435 C4.30403976,5.35024754 4.46194234,5.41620569 4.6491622,5.41620569 C4.96663286,5.41620569 5.18221176,5.22743442 5.29585325,4.84973217 C5.41617953,4.48879894 5.56319937,4.21558936 5.737004,4.03010345 C5.91074019,3.84461754 6.18144012,3.75187458 6.54912658,3.75187458 C6.86322063,3.75187458 7.11975244,3.84384183 7.31863076,4.0275938 C7.51744063,4.21143704 7.61691401,4.4370089 7.61691401,4.70435501 C7.61691401,4.84142751 7.58431138,4.96839296 7.51915175,5.08534263 C7.45396931,5.20238355 7.3737746,5.30842765 7.27852199,5.40368026 C7.18326939,5.49893287 7.02865216,5.64015769 6.81480721,5.82728628 C6.57082365,6.04119968 6.37694181,6.22581862 6.2332986,6.38123437 C6.08956413,6.53660449 5.97427996,6.71707111 5.88740045,6.92263422 C5.80045251,7.1281517 5.75705838,7.37129111 5.75705838,7.65202963 C5.75705838,7.87595881 5.81635456,8.04474415 5.93501535,8.15834001 C6.0536077,8.27200432 6.19985182,8.32879084 6.37365645,8.32879084 C6.70780488,8.32879084 6.9066832,8.15503184 6.97020014,7.80742256 C7.00693229,7.64370215 7.0344928,7.52917088 7.0529045,7.46403406 C7.07122494,7.39885162 7.09716559,7.33369199 7.13061238,7.26850955 C7.16399072,7.20337274 7.21498223,7.13152832 7.28351848,7.05297629 C7.35196346,6.97446989 7.44308656,6.88336961 7.55672805,6.7797439 C7.96778582,6.41212588 8.25267667,6.15059758 8.41144623,5.99518183 C8.57014734,5.83981171 8.70721983,5.65516996 8.82252682,5.44125656 C8.93783381,5.22743442 8.9954873,4.97840874 8.9954873,4.69431642 C8.9954873,4.33338319 8.89437124,3.99923476 8.69220756,3.69171144 C8.48995263,3.38427937 8.20344191,3.14113996 7.83247009,2.96231603 C7.46149826,2.78358335 7.03367146,2.69412575 6.54912658,2.69412575 Z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
}

.invite-title-helper:hover { opacity: 1; }

/*endregion*/

.invite-content-container {}

.invite-form-container {
	padding-bottom: 9px;
	margin-bottom: 21px;
}

.invite-form-ctl-description {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #858C96;
	line-height: 18px;
	font-style: italic;
	margin-top: 10px;
}

.invite-form-row {
	display: flex;
	align-items: flex-start;
}

.invite-form-col {
	flex: 1;
	margin-bottom: 17px;
}

.invite-form-row .invite-form-col:first-child {
	padding-right: 10px;
}

.invite-form-row .invite-form-col:last-child {
	padding-left: 10px;
}

.invite-form-row .invite-form-col:first-child:last-child {
	padding-left: 0;
	padding-right: 0;
}

.invite-form-buttons {
	border-top: 1px solid #edeef0;
	display: flex;
	align-items: baseline;
	padding-top: 23px;
}

.invite-block-shown {
	display: block;
}

.invite-block-hidden {
	display: none;
}

/*region content*/
.invite-content {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #525C69;
	line-height: 20px;
}

.invite-content-title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #525C69;
	font-weight: bold;
	line-height: 20px;
}

.invite-content-list {
	margin: 22px 0;
	padding: 0;
	counter-reset: section;
	display: block;
	list-style: none;
}

.invite-content-list li {
	margin-bottom: 17px;
	line-height: 17px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #525C69;
}

.invite-content-list li::before {
	counter-increment: section;
	content: counter(section);
	margin-right: 10px;
	height: 17px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 17px;
	line-height: 17px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	background: #2FC6F6;
	display: inline-block;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	border-radius: 8.5px;
 }
/*endregion*/

.invite-form-container-reg-row {
	display: flex;
	align-items: flex-end;

}

.invite-form-container-reg-col {
	flex:1;
	padding-right: 12px;
}

.invite-form-ctl-title {
	opacity: 0.9;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 5px;
	font-size: 13px;
	color: #525C69;
	line-height: 22px;
}

.invite-dialog-inv-link-block {
	padding-top: 0 !important;
}

.invite-dialog-update-link::before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 12px;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='12px' viewBox='0 0 15 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ECombined Shape%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M8.40451464,0 C11.6890447,0 14.3516824,2.66263768 14.3516824,5.94716772 C14.3516824,9.23169775 11.6890447,11.8943354 8.40451464,11.8943354 C8.29203536,11.8943354 8.18028539,11.8912129 8.0693467,11.8850497 L8.0696541,10.3857353 C8.18019893,10.3939576 8.2918681,10.3981422 8.40451464,10.3981422 C10.86272,10.3981422 12.8554892,8.40537307 12.8554892,5.94716772 C12.8554892,3.48896237 10.86272,1.4961932 8.40451464,1.4961932 C6.21661708,1.4961932 4.39742347,3.07480245 4.02379618,5.15515858 L6.63540805,5.15504804 L3.31770403,8.47275207 L2.03081996e-12,5.15504804 L2.50954612,5.15574321 C2.89654574,2.24536004 5.38831422,0 8.40451464,0 Z' id='Combined-Shape' fill='%232FC6F6' transform='translate(7.175841, 5.947168) scale(-1, 1) translate(-7.175841, -5.947168) '%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.invite-dialog-fast-reg-control-container {
	padding: 14px 16px;
	background: #E1F3F9;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 23px;
}

.invite-dialog-fast-reg-control-container.disallow-registration {
	background: #FAE5E8;
}

.invite-dialog-fast-reg-control-label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 20px;
}

.invite-dialog-fast-reg-control-switcher {
	position: relative;
	background: rgba(255, 87, 82, 0.31);
	border-radius: 11px;
	width: 53px;
	height: 22px;
}

.invite-dialog-fast-reg-control-switcher-btn {
	height: 16px;
	width: 16px;
	display: block;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 4px;
	z-index: 1;
	transition: 170ms linear all;
}

.invite-dialog-fast-reg-control-switcher-on,
.invite-dialog-fast-reg-control-switcher-off {
	opacity: 0.43;
	font-family: "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 8px;
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: 0.27px;
	right: 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: 170ms linear all;
}

.invite-dialog-fast-reg-control-switcher-on {
	left: 11px;
	opacity: 0;
}

.invite-dialog-fast-reg-control-switcher-off {
	color: #515C69;
	letter-spacing: 0;
}

.invite-dialog-fast-reg-control-container input:checked + div.invite-dialog-fast-reg-control-switcher { background: #2fc6f6; }

.invite-dialog-fast-reg-control-container input:checked + div .invite-dialog-fast-reg-control-switcher-btn {
	left: calc(100% - 4px - 16px);
}

.invite-dialog-fast-reg-control-container input:checked + div .invite-dialog-fast-reg-control-switcher-on {
	opacity: .43;
}
.invite-dialog-fast-reg-control-container input:checked + div .invite-dialog-fast-reg-control-switcher-off {
	opacity: 0;
}

/*region counters*/
.invite-limit-counters-container {
	background: rgba(255, 255, 255, 0.53);
	border-radius: 3px;
	padding: 0 12px;
}

.invite-limit-counters-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #E4E7EA;
	padding: 12px 0;
}

.invite-limit-counters-container .invite-limit-counters-row:last-child {
	border: none;
}

.invite-limit-counters-block-name {
	opacity: 0.81;
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525C69;
}

.invite-limit-counters-block-value {
	font: 16px/16px "Helvetica", Helvetica, Arial, sans-serif;
	color: #333;
	padding-left: 20px;
}

.invite-limit-counters-block-value-current {
	font: 16px/16px "Helvetica", Helvetica, Arial, sans-serif;
	padding-left: 20px;
	color: #009CCE;
}

/*endregion*/

.invite-btn {
	background: rgba(255,255,255,0.46);
	border: 2px dashed rgba(166,166,166,0.41);
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525C69;
	padding: 12px 20px 13px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 170ms linear all;
}
.invite-btn:hover {
	background: rgba(255,255,255,0.76);
	border: 2px dashed rgba(166,166,166,0.71);
}

.invite-btn:before {
	content: '+';
	margin-right: 5px;
	display:inline-block;
	font-size: 22px;
	line-height: 22px;
	color: #2FC6F6;
	position: relative;
	top:-2px;
	font-weight: bold;
}

.invite-send-success-wrap {
	position: relative;
	height: 100vh;
	max-height: 100%;
	width: 100%;
	display: block;
}

.invite-send-success-text {
	font-family: "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 29px;
	color: #525C69;
	letter-spacing: 0;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -200px;
	animation: inviteSendSuccessText 750ms ease 500ms 1 both;
}

@keyframes inviteSendSuccessText {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.invite-send-success-decal-1 {
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -66px;
	margin-top: -66px;
	width: 132px;
	height: 132px;
	border-radius: 50%;
	background-color: rgba(47, 198, 246, 0.12);
	animation: inviteSendSuccessDecal1 750ms linear 0ms 1 both;
}

@keyframes inviteSendSuccessDecal1 {
	0% {
		opacity: 0;
		margin-left: -90px;
		margin-top: -90px;
		width: 180px;
		height: 180px;
	}
	100% {
		opacity: 1;
		margin-left: -66px;
		margin-top: -66px;
		width: 132px;
		height: 132px;
	}
}

.invite-send-success-decal-2 {
	width: 180px;
	height: 180px;
	background: no-repeat url("images/decal-1.svg?v1") center;
	animation: inviteSendSuccessDecal2 1s ease 250ms 1 both;
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -90px;
	margin-top: -90px;
	/*opacity: 0;*/
}

@keyframes inviteSendSuccessDecal2 {
	0% {
		opacity: 0;
		transform: rotate(0);
	}
	100% {
		opacity: 1;
		transform: rotate(165deg);
	}
}

.invite-send-success-decal-3 {
	width: 251px;
	height: 90px;
	background: no-repeat url("images/decal-2.svg?v1") center;
	animation: inviteSendSuccessDecal3 750ms ease 500ms 1 both;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -125px;
	margin-top: -45px;
	/*opacity: 1;*/
}

@keyframes inviteSendSuccessDecal3 {
	0% {
		opacity: 0;
		margin-left: -200px;
	}
	100% {
		opacity: 1;
		margin-left: -125px;
	}
}

.invite-send-success-decal-4 {
	width: 440px;
	height: 200px;
	background: no-repeat url(images/decal-33.svg?v1) 0 30px, no-repeat url(images/decal-4.svg?v1) bottom left, no-repeat url(images/decal-33.svg?v1) bottom right;
	animation: inviteSendSuccessDecal4 1250ms ease-in-out 0ms 1 both;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -220px;
	margin-top: -60px;
	/*opacity: 1;*/
}

@keyframes inviteSendSuccessDecal4 {
	0% {
		width: 400px;
		opacity: 0;
		margin-left: -300px;
	}
	50%{opacity: 1;}
	100% {
		width: 440px;
		opacity: 1;
		margin-left: -220px;
	}
}

.invite-send-success-decal-5 {
	width: 99px;
	height: 200px;
	background: no-repeat url(images/decal-4.svg?v1) top right;
	background-size: auto 37px;
	animation: inviteSendSuccessDecal5 1250ms ease-in-out 0ms 1 both;
	position: absolute;
	top: 50%;
	right: 50%;
	margin-right: -220px;
	margin-top: -60px;
	/*opacity: 1;*/
}

@keyframes inviteSendSuccessDecal5 {
	0% {
		opacity: 0;
		margin-right: -250px;
	}
	50%{opacity: 1;}
	100% {
		opacity: 1;
		margin-right: -220px;
	}
}

.ui-page-slider-content {padding-bottom: 75px;}