.onec-block { padding-bottom: 10px; }

.onec-wrap {
	padding-top: 25px;
	border-top: 1px solid rgba(82, 92, 105, .1);
}

.onec-slider { padding: 0 21px 0 25px; }

.onec-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	margin: 0 auto;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.onec-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	box-sizing: border-box;
	min-height: 105px;
	width: 179px;
	height: 50px;
	border-radius: 1px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	cursor: pointer;
	transition: all .2s linear;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.onec-item:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0 4px 10px;
	transition: all 0.15s linear;
	transform: translate(0, -1px);
}

.onec-name-text {
	display: inline-block;
	overflow: hidden;
	max-width: 130px;
	color: #525c69;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 13px/20px 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.onec-placement-block .ui-tile-list-item { padding: 0; }
.onec-logo-container { margin-bottom: 10px; }

.onec-logo {
	display: inline-block;
	box-sizing: border-box;
	width: 42px;
	height: 42px;
	border: 1px solid transparent;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.onec-item-selected {
	border: none;
	border-radius: 3px;
}

.onec-item-selected:before {
	position: absolute;
	bottom: 9px;
	left: 14px;
	width: 12px;
	height: 10px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2210%22%20viewBox%3D%220%200%2012%2010%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%3Cg%20id%3D%22Canvas%22%20fill%3D%22none%22%3E%0A%3Cg%20id%3D%22Combined%20Shape%22%20opacity%3D%220.4%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M%200.0296066%205.46273L%200%205.46273L%200%200L%201.89733%200L%201.89733%203.59501L%2010.9392%203.59505L%2010.9392%205.49238L%200.0296498%205.49238L%200.0296066%205.46273Z%22%20transform%3D%22matrix%280.707107%20-0.707107%200.707107%200.707107%200%205.73523%29%22%20fill%3D%22white%22/%3E%0A%3C/g%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A);
	content: '';
}

.onec-item-selected .onec-logo { border-color: rgba(255, 255, 255, .6); }

.onec-item-selected .onec-name-text { color: #fff; }

.onec-item-green { background: #90be00; }

.onec-item-cyan { background: #2fc6f6; }

.onec-item-red { background: #ff5752; }

.onec-item-azure { background: #55d0e0; }

.onec-item-vkblue { background: #3871ba; }

.onec-item-orange { background: #ffa900; }

.onec-item-blue { background: #3e7cac; }

.onec-item-darkblue { background: #38659f; }

.onec-item-lightblue { background: #02aff0; }

.onec-item-darkgreen { background: #00b4ac; }

.onec-item-purple { background: #d56c9a; }

.onec-logo-common { background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2225%22%20height%3D%2226%22%20viewBox%3D%220%200%2025%2026%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cg%3E%0A%3Cg%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M%2011.9912%200.0357666C%2012.0116%200.0251465%2012.0314%200.0148315%2012.0505%200.0090332C%2012.1235%20-0.0119019%2012.1858%200.00463867%2012.2653%200.0452271L%2023.8947%204.66113C%2024.1931%204.79938%2024.3047%205.06384%2024.2983%205.51459L%2024.2983%2020.1678C%2024.3005%2020.4999%2024.1309%2020.8199%2023.9032%2020.9131L%2012.3425%2025.4929C%2012.189%2025.5349%2012.0033%2025.5439%2011.8616%2025.4808L%200.403687%2020.9373C%200.176086%2020.8486%200.00323486%2020.5345%200%2020.204L%200%205.41846C%200.00860596%205.06989%200.113831%204.77386%200.403687%204.63715L%2011.9731%200.045105L%2011.9912%200.0357666ZM%2021.7218%205.40631L%2012.1191%201.58374L%202.508%205.39429L%2012.1191%209.20477L%2021.7218%205.40631Z%22%20fill%3D%22%23FFFFFF%22/%3E%0A%3C/g%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A); }

.onec-list-item-add { border-bottom: 2px solid #f0f1f2; }

.crm-onec-section {
	margin-bottom: 15px;
	padding: 25px 20px;
	background-color: #fff;
}

.crm-onec-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	-webkit-box-align: start;
	align-items: flex-start;
}

.crm-onec-header-left-block { padding-right: 37px; }

.crm-onec-header-title {
	margin-bottom: 20px;
	color: #000;
	font: 22px/28px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-onec-header-right-block { }

.crm-onec-separator {
	margin: 20px 0;
	border: none;
	border-bottom: 1px solid #e9e9e9;
}

.crm-onec-logo {
	min-width: 97px;
	max-width: 100%;
	height: auto;
}

.crm-onec-header-futures-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: stretch;
	max-width: 650px;
	-webkit-box-align: stretch;
	align-items: stretch;
}

.crm-onec-header-futures-block { padding: 0 10px; }

.crm-onec-header-futures-block:first-child { padding-left: 0; }

.crm-onec-header-futures-block:last-child { padding-right: 0; }

.crm-onec-header-futures {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	padding: 10px;
	border-radius: 4px;
	-webkit-box-align: center;
	align-items: center;
}

.crm-onec-header-futures-text {
	color: #000;
	font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-onec-header-futures-icon {
	display: block;
	margin-right: 8px;
	min-width: 35px;
	max-width: 35px;
	width: 35px;
	height: 35px;
	background: center no-repeat;
}

.crm-onec-header-futures-icon.icon-1 { background-image: url(images/btn_1.svg); }

.crm-onec-header-futures-icon.icon-2 { background-image: url(images/btn_2.svg); }

.crm-onec-header-futures-icon.icon-3 { background-image: url(images/btn_3.svg); }

.crm-onec-header-futures-icon.icon-4 { background-image: url(images/btn_4.svg); }

.crm-onec-header-futures-icon.icon-5 { background-image: url(images/btn_5.svg); }

.crm-onec-install-description {
	margin-bottom: 20px;
	color: #000;
	font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-alert-tracker {
	margin-bottom: 0;
	margin-left: 10px;
	padding-top: 11px;
	padding-bottom: 11px;
	height: 39px;
}

/*region section header*/
.crm-onec-section-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	-ms-flex-align: center;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e9e9e9;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.crm-onec-section-header-block-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
}

.crm-onec-section-step-count {
	min-width: 25px;
	max-width: 25px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #2fc6f6;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	font: 14px/25px "OpenSans-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-onec-section-step-title {
	padding-left: 8px;
	color: #333;
	font: 18px/24px "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-onec-section-header-block-right { }

.crm-onec-section-info-link {
	border-bottom: 1px solid;
	color: #9b9b9b;
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-onec-block-title {
	color: #000;
	font: 16px/24px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bitrix24-light-theme .crm-onec-block-title { color: #fff; }

/*endregion*/

/*region form*/
.s-tracker-label { }

.onec-alert {
	padding: 10px 34px 11px 18px;
	vertical-align: top;
}

.b24-integration-wrap { display: none; }

.b24-integration-wrap-animate .b24-integration-wrap { display: block; }

/*endregion*/

.ui-tile-list-item-selected .ui-tile-list-name-text { color: #525c69; }