.crm-entity-merger-wrapper {
	display: flex;
	align-items: stretch;
	background-color: #eef2f4;
	position: relative;
	z-index: 80;
	transition: transform 1s;
}

.crm-entity-merger-wrapper-loading {
	transform: translateX(110%);
	transition: none;
}

.crm-entity-merger-sidebar {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 470px;
	padding-right: 20px;
	min-width: 470px;
	box-sizing: border-box;
	overflow: hidden;
}

.crm-entity-merger-sidebar-closing {
	overflow: hidden;
	transform: translateX(-100%);
	transition: transform .4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.crm-entity-merger-wrapper-loading .crm-entity-merger-sidebar {
	transition: none;
}

.crm-entity-merger-sidebar:before,
.crm-entity-merger-sidebar:after {
	content: '';
	position: absolute;
}

.crm-entity-merger-sidebar:before {
	top: 0;
	right: -5px;
	width: 10px;
	height: 20px;
	background: linear-gradient(0deg, rgba(238, 242, 244, 0) 0%, rgba(238, 242, 244, 1) 100%);
	z-index: 210;
}

.crm-entity-merger-sidebar:after {
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	z-index: 200;
	background: linear-gradient(90deg, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, .03) 10%, rgba(0, 0, 0, 0) 100%);
}

.crm-entity-merger-sidebar-inner {
	/*position: relative;*/
	margin-right: -35px;
	padding-right: 30px;
	overflow-y: auto;
}

.crm-entity-merger-sidebar-skeleton {
	position: relative;
	display: none;
	background-color: #fff;
	/*background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20class%3D%22defs-only%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20style%3D%22width%3A100%25%3Bheight%3A1200px%22%3E%3Csvg%20height%3D%221200%22%3E%3Crect%20fill%3D%22%23FFF%22%20width%3D%22100%25%22%20height%3D%221200%22/%3E%3Crect%20fill%3D%22%23F8FAFB%22%20width%3D%22100%25%22%20height%3D%2264%22%20y%3D%2243%22/%3E%3Crect%20fill%3D%22%23F8FAFB%22%20width%3D%22100%25%22%20height%3D%2264%22%20y%3D%22171%22/%3E%3Crect%20fill%3D%22%23F8FAFB%22%20width%3D%22100%25%22%20height%3D%2264%22%20y%3D%22299%22/%3E%3Crect%20fill%3D%22%23F8FAFB%22%20width%3D%22100%25%22%20height%3D%22205%22%20y%3D%22427%22/%3E%3Crect%20fill%3D%22%23fff%22%20width%3D%2280%25%22%20height%3D%22155%22%20x%3D%2237%22%20y%3D%22463%22%20stroke%3D%22%23EEF0F2%22/%3E%3Crect%20fill%3D%22%23F8FAFB%22%20width%3D%22100%25%22%20height%3D%2264%22%20y%3D%22696%22/%3E%3Crect%20fill%3D%22%23F8FAFB%22%20width%3D%22100%25%22%20height%3D%2264%22%20y%3D%22824%22/%3E%3Crect%20fill%3D%22%23F8FAFB%22%20width%3D%22100%25%22%20height%3D%2264%22%20y%3D%22952%22/%3E%3Crect%20fill%3D%22%23F8FAFB%22%20width%3D%22100%25%22%20height%3D%2264%22%20y%3D%221080%22/%3E%3C/svg%3E%3Csvg%20height%3D%221200%22%20id%3D%22d%22%3E%3Crect%20fill%3D%22%23DEE2E6%22%20rx%3D%222%22%20ry%3D%222%22%20width%3D%22189%22%20height%3D%229%22%20x%3D%2216%22%20y%3D%2219%22/%3E%3Cdefs%3E%3Cg%20id%3D%22a%22%20fill%3D%22%23DEE2E6%22%3E%3Crect%20rx%3D%222%22%20ry%3D%222%22%20width%3D%22105%22%20height%3D%228%22%20x%3D%2237%22%20y%3D%2218%22/%3E%3Crect%20rx%3D%222%22%20ry%3D%222%22%20width%3D%22216%22%20height%3D%228%22%20x%3D%2237%22%20y%3D%2240%22/%3E%3C/g%3E%3C/defs%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%2243%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22104%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22171%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22235%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22299%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22363%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Crect%20fill%3D%22%23DEE2E6%22%20rx%3D%222%22%20ry%3D%222%22%20width%3D%22105%22%20height%3D%228%22%20x%3D%2237%22%20y%3D%22445%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22468%22%20x%3D%2220%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22529%22%20x%3D%2220%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22632%22%20x%3D%2220%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22696%22%20x%3D%2220%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22760%22%20x%3D%2220%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22824%22%20x%3D%2220%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22888%22%20x%3D%2220%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%22952%22%20x%3D%2220%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%221016%22%20x%3D%2220%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20y%3D%221080%22%20x%3D%2220%22%20width%3D%22100%25%22%20height%3D%22100%22/%3E%3C/svg%3E%3Crect%20id%3D%22e%22%20width%3D%22100%25%22%20fill%3D%22url%28%23b%29%22%20mask%3D%22url%28%23c%29%22%20height%3D%221200%22/%3E%3Cmask%20id%3D%22c%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23d%22/%3E%3C/mask%3E%3ClinearGradient%20x1%3D%2266.6%25%22%20y1%3D%2250%25%22%20x2%3D%2233.3%25%22%20y2%3D%2250%25%22%20id%3D%22b%22%3E%3Cstop%20stop-opacity%3D%220%22%20offset%3D%220%25%22/%3E%3Cstop%20stop-opacity%3D%22.07%22%20offset%3D%2250%25%22/%3E%3Cstop%20stop-opacity%3D%220%22%20offset%3D%22100%25%22/%3E%3C/linearGradient%3E%3Canimate%20xlink%3Ahref%3D%22%23e%22%20attributeName%3D%22x%22%20from%3D%22-100%25%22%20to%3D%22100%25%22%20dur%3D%221s%22%20begin%3D%220s%22%20repeatCount%3D%22indefinite%22/%3E%3Csvg%20viewBox%3D%220%200%20100%25%201200%22%20height%3D%221200%22%3E%3Crect%20fill%3D%22%23EBF1F4%22%20width%3D%2220%22%20height%3D%221200%22%20x%3D%22100%25%22%20transform%3D%22translate%28-20%29%22/%3E%3C/svg%3E%3C/svg%3E');*/
	/*background-repeat: repeat;*/
	overflow: hidden;
}

.crm-entity-merger-onload-sidebar-state .crm-entity-merger-sidebar-skeleton {
	display: block;
}

/*.crm-entity-merger-sidebar-closing .crm-entity-merger-sidebar-skeleton {*/
/*	opacity: 0;*/
/*}*/

.crm-entity-merger-sidebar-warning-box {
	position: absolute;
	top: -webkit-calc(50% + 38px);
	top: calc(50% + 38px);
	left: -webkit-calc(50% - 12px);
	left: calc(50% - 12px);
	display: none;
	flex-direction: column;
	align-items: center;
	padding: 20px 5px;
	width: 400px;
	text-align: center;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	pointer-events: none;
	z-index: 2;
}

.crm-entity-merger-sidebar-warning-box:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255,255,255, .77);
	filter: blur(10px);
	z-index: 1;
}

.crm-entity-merger-onload-sidebar-state .crm-entity-merger-sidebar-warning-box {
	display: flex;
}

.crm-entity-merger-sidebar-warning-icon {
	position: relative;
	display: block;
	width: 172px;
	height: 172px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20172%20173%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cdefs%3E%3Cfilter%20x%3D%22-27.3%25%22%20y%3D%22-21.8%25%22%20width%3D%22154.6%25%22%20height%3D%22154.6%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22a%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20stdDeviation%3D%223%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22/%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.179468969%200%22%20in%3D%22shadowBlurOuter1%22/%3E%3C/filter%3E%3Cfilter%20x%3D%22-12.6%25%22%20y%3D%22-16.4%25%22%20width%3D%22125.3%25%22%20height%3D%22140.9%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22c%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20stdDeviation%3D%223%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22/%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.0957440997%200%22%20in%3D%22shadowBlurOuter1%22/%3E%3C/filter%3E%3Cfilter%20x%3D%22-27.3%25%22%20y%3D%22-21.8%25%22%20width%3D%22154.6%25%22%20height%3D%22154.6%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22e%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20stdDeviation%3D%223%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22/%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.179468969%200%22%20in%3D%22shadowBlurOuter1%22/%3E%3C/filter%3E%3Cfilter%20x%3D%22-12.6%25%22%20y%3D%22-16.4%25%22%20width%3D%22125.3%25%22%20height%3D%22140.9%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22g%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20stdDeviation%3D%223%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22/%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.0957440997%200%22%20in%3D%22shadowBlurOuter1%22/%3E%3C/filter%3E%3Cfilter%20x%3D%22-17.5%25%22%20y%3D%22-14%25%22%20width%3D%22135%25%22%20height%3D%22135%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22i%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20stdDeviation%3D%223%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22/%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.0741641171%200%22%20in%3D%22shadowBlurOuter1%22/%3E%3C/filter%3E%3Cfilter%20x%3D%22-31.5%25%22%20y%3D%22-9.9%25%22%20width%3D%22163.1%25%22%20height%3D%22139.6%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22k%22%3E%3CfeOffset%20dy%3D%226%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20stdDeviation%3D%223%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22/%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.0970552885%200%22%20in%3D%22shadowBlurOuter1%22/%3E%3C/filter%3E%3Cpath%20d%3D%22M2%200h75.111a2%202%200%20012%202v44.882a2%202%200%2001-2%202H2a2%202%200%2001-2-2V2a2%202%200%20012-2z%22%20id%3D%22d%22/%3E%3Cpath%20d%3D%22M2%200h75.111a2%202%200%20012%202v44.882a2%202%200%2001-2%202H2a2%202%200%2001-2-2V2a2%202%200%20012-2z%22%20id%3D%22h%22/%3E%3Cpath%20d%3D%22M28.677%2057.241C12.902%2057.241.114%2044.453.114%2028.677.114%2012.902%2012.902.114%2028.677.114c15.776%200%2028.564%2012.788%2028.564%2028.563%200%2015.776-12.788%2028.564-28.564%2028.564z%22%20id%3D%22j%22/%3E%3Cpath%20d%3D%22M7.166%201.438c-.925.925-1.335%202.184-1.335%203.494v18.133a6.435%206.435%200%2000-1.413-.154C2.003%2022.911%200%2024.915%200%2027.355c0%20.205.026.41.051.616C.205%2029.05.9%2046.875%201.31%2048.211c.41%201.336%201.9%202.928%203.339%203.879.873.59%201.618%201.027%202.158%201.258.41.206.77.514%201.027.9.257.384.385.847.385%201.309l.463%204.084c0%20.514.436.95.95.95h25.171c.514%200%20.95-.436.95-.95%200-2.517.771-5.009%201.465-7.423.54-1.85.822-3.75.822-5.676v-17.44a4.37%204.37%200%2000-1.285-3.109%204.34%204.34%200%2000-3.184-1.284%204.352%204.352%200%2000-2.697%201.002c-.668-1.927-2.518-3.34-4.675-3.34a4.973%204.973%200%2000-3.134%201.13%204.962%204.962%200%2000-4.829-3.852c-1.13%200-2.183.385-3.03%201.053V4.957C15.206%202.21%2013.382%200%2010.659%200%209.35%200%208.117.514%207.166%201.438%22%20id%3D%22l%22/%3E%3Crect%20id%3D%22b%22%20x%3D%2235.375%22%20y%3D%224.502%22%20width%3D%2236.661%22%20height%3D%2236.661%22%20rx%3D%225%22/%3E%3Crect%20id%3D%22f%22%20x%3D%2235.375%22%20y%3D%224.502%22%20width%3D%2236.661%22%20height%3D%2236.661%22%20rx%3D%225%22/%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M87.751%20157.105c39.195%200%2070.968-31.576%2070.968-70.527%200-38.95-31.773-70.526-70.968-70.526-39.194%200-70.966%2031.576-70.966%2070.526%200%2038.951%2031.773%2070.527%2070.966%2070.527z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22/%3E%3Cg%20opacity%3D%22.741%22%3E%3Cg%20transform%3D%22translate%2825.6%2082.045%29%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23a%29%22%20xlink%3Ahref%3D%22%23b%22/%3E%3Cuse%20fill%3D%22%23C5F03F%22%20xlink%3Ahref%3D%22%23b%22/%3E%3C/g%3E%3Cg%20transform%3D%22translate%2825.6%2082.045%29%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23c%29%22%20xlink%3Ahref%3D%22%23d%22/%3E%3Cuse%20fill%3D%22%23A0E8FF%22%20xlink%3Ahref%3D%22%23d%22/%3E%3C/g%3E%3Cg%20transform%3D%22translate%2832.032%2088.477%29%22%20fill%3D%22%2367D7FB%22%3E%3Crect%20opacity%3D%22.883%22%20x%3D%221.286%22%20y%3D%2225.084%22%20width%3D%2210.291%22%20height%3D%2210.291%22%20rx%3D%225.145%22/%3E%3Crect%20opacity%3D%22.883%22%20x%3D%2216.08%22%20y%3D%2225.084%22%20width%3D%2210.291%22%20height%3D%2210.291%22%20rx%3D%225.145%22/%3E%3Crect%20x%3D%222.352%22%20y%3D%221.93%22%20width%3D%2254.671%22%20height%3D%224.502%22%20rx%3D%222.251%22/%3E%3Crect%20x%3D%222.352%22%20y%3D%2210.934%22%20width%3D%2254.671%22%20height%3D%224.502%22%20rx%3D%222.251%22/%3E%3C/g%3E%3C/g%3E%3Cg%20opacity%3D%22.741%22%3E%3Cg%20transform%3D%22translate%2867.192%2038.091%29%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23e%29%22%20xlink%3Ahref%3D%22%23f%22/%3E%3Cuse%20fill%3D%22%23C5F03F%22%20xlink%3Ahref%3D%22%23f%22/%3E%3C/g%3E%3Cg%20transform%3D%22translate%2867.192%2038.091%29%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23g%29%22%20xlink%3Ahref%3D%22%23h%22/%3E%3Cuse%20fill%3D%22%23B3E600%22%20xlink%3Ahref%3D%22%23h%22/%3E%3C/g%3E%3Cg%20opacity%3D%22.536%22%20transform%3D%22translate%2873.624%2044.523%29%22%20fill%3D%22%2394B817%22%3E%3Crect%20opacity%3D%22.883%22%20x%3D%221.286%22%20y%3D%2225.084%22%20width%3D%2210.291%22%20height%3D%2210.291%22%20rx%3D%225.145%22/%3E%3Crect%20opacity%3D%22.883%22%20x%3D%2216.08%22%20y%3D%2225.084%22%20width%3D%2210.291%22%20height%3D%2210.291%22%20rx%3D%225.145%22/%3E%3Crect%20x%3D%222.352%22%20y%3D%221.93%22%20width%3D%2254.671%22%20height%3D%224.502%22%20rx%3D%222.251%22/%3E%3Crect%20x%3D%222.352%22%20y%3D%2210.934%22%20width%3D%2254.671%22%20height%3D%224.502%22%20rx%3D%222.251%22/%3E%3C/g%3E%3C/g%3E%3Cg%20opacity%3D%22.731%22%20fill-rule%3D%22nonzero%22%20transform%3D%22translate%2859.074%2057.9%29%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23i%29%22%20xlink%3Ahref%3D%22%23j%22/%3E%3Cuse%20fill%3D%22%232FC6F6%22%20xlink%3Ahref%3D%22%23j%22/%3E%3C/g%3E%3Cpath%20d%3D%22M83.79%2097.037l-8.974-8.705%203.715-3.62%205.26%205.085%2013.97-13.573%203.714%203.62z%22%20fill%3D%22%23FFF%22/%3E%3Cg%20fill-rule%3D%22nonzero%22%3E%3Cg%20transform%3D%22translate%2881.256%2095.835%29%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23k%29%22%20xlink%3Ahref%3D%22%23l%22/%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23l%22/%3E%3C/g%3E%3Cpath%20d%3D%22M94.561%20100.766v22.552c0%20.514.437.95.95.95.514%200%20.95-.436.95-.95v-2.928c0-1.67%201.362-3.005%203.032-3.005s3.03%201.361%203.03%203.03v2.749c0%20.514.437.95.95.95.515%200%20.951-.436.951-.95%200-1.67%201.362-3.031%203.031-3.031%201.67%200%203.03%201.361%203.03%203.03v1.876c0%20.514.438.95.951.95.514%200%20.95-.436.95-.95%200-1.387%201.105-2.543%202.466-2.569.694%200%201.336.257%201.798.72.463.462.72%201.104.72%201.772v17.44c0%201.747-.257%203.467-.745%205.137-.668%202.286-1.439%204.623-1.516%207.012H91.84l-.463-3.134c0-.821-.231-1.643-.668-2.337a4.446%204.446%200%2000-1.823-1.618c-.463-.206-1.105-.59-1.901-1.13-1.156-.77-2.312-2.158-2.671-3.108-.36-.95-.874-18.082-1.105-19.7-.025-.129-.025-.232-.025-.36a2.527%202.527%200%20012.542-2.517c.488%200%20.95.077%201.413.205V133.9c0%20.514.437.95.95.95.514%200%20.95-.436.95-.95v-33.134c0-.822.206-1.566.771-2.132a3.052%203.052%200%20012.158-.899c1.618%200%202.594%201.362%202.594%203.031m-6.139-3.493c-.924.925-1.335%202.183-1.335%203.493V118.9a6.435%206.435%200%2000-1.413-.154c-2.414%200-4.418%202.003-4.418%204.443%200%20.206.026.411.052.617.154%201.079.847%2018.904%201.258%2020.24.411%201.335%201.9%202.928%203.34%203.878.872.591%201.617%201.028%202.157%201.259.41.205.77.514%201.027.899.257.385.385.847.385%201.31l.463%204.084c0%20.513.436.95.95.95h25.172c.513%200%20.95-.437.95-.95%200-2.517.77-5.009%201.464-7.423.54-1.85.822-3.75.822-5.677v-17.44a4.37%204.37%200%2000-1.284-3.108%204.34%204.34%200%2000-3.185-1.284%204.352%204.352%200%2000-2.697%201.002c-.668-1.927-2.517-3.34-4.675-3.34a4.973%204.973%200%2000-3.134%201.13%204.962%204.962%200%2000-4.828-3.852c-1.13%200-2.184.385-3.031%201.053v-15.745c0-2.748-1.824-4.957-4.546-4.957-1.31%200-2.543.513-3.494%201.438%22%20fill%3D%22%232FC6F6%22/%3E%3C/g%3E%3Cpath%20d%3D%22M139.748%2023.29l-13.5%202.869a1.712%201.712%200%2001-.712-3.35l9.385-1.995C109.439%201.727%2074.129-1.553%2044.944%2015.297%2015.386%2032.362.568%2065.192%204.888%2097.188a1.975%201.975%200%2001-.859%201.246%202.004%202.004%200%2001-2.846-.722c-4.532-33.47%2010.963-67.817%2041.882-85.669%2030.407-17.555%2067.172-14.215%2093.795%205.55l-1.987-9.344a1.723%201.723%200%20013.37-.717l2.843%2013.376c.045.211.049.422.017.624.04.825-.522%201.58-1.355%201.757zM129.065%20161C99.05%20178.33%2062.835%20175.297%2036.3%20156.2l1.512%209.546a1.723%201.723%200%2001-3.403.539L32.27%20152.78a1.719%201.719%200%2001.015-.624%201.714%201.714%200%20011.446-1.684l13.632-2.159a1.712%201.712%200%2011.536%203.382l-9.39%201.487c25.374%2018.24%2059.986%2021.13%2088.678%204.564%2028.975-16.73%2043.786-48.607%2040.29-80a1.98%201.98%200%2001.973-1.444%202.003%202.003%200%20012.656.613l.052.08.106.986c3.388%2032.62-12.095%2065.638-42.199%2083.019z%22%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22nonzero%22%20opacity%3D%22.148%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	z-index: 2;
}

.crm-entity-merger-sidebar-warning-title {
	position: relative;
	display: block;
	margin-top: 30px;
	margin-bottom: 13px;
	font: 34px "OpenSans-Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
	z-index: 2;
}

.crm-entity-merger-sidebar-warning-text {
	position: relative;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
	z-index: 2;
}

.crm-entity-merger-column {
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-basis: 100%;
	padding-left: 0;
	height: 100%;
	background-color: #e7ecee;
	box-sizing: border-box;
	overflow: hidden;
}

.crm-entity-merger-column-closing {
	background-color: transparent;
	transition: background-color 1s;
}

.crm-entity-merger-column:before {
	content: '';
	position: absolute;
	top: -20px;
	left: 0;
	width: 100%;
	height: 107px;
	background: linear-gradient(180deg, rgba(238,242,244,1) 0%, rgba(231,236,238,0) 100%);
	z-index: 1;
}

.crm-entity-merger-column-inner {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 1;
	padding-left: 20px;
	height: 100%;
	overflow-y: auto;
	z-index: 2;
}

.crm-entity-merger-column-head {
	display: flex;
	flex-grow: 1;
}

.crm-entity-merger-column-container {
	display: flex;
	align-items: flex-start;
	flex-grow: 1;
	overflow-x: auto;
	z-index: 2;
}

.crm-entity-merger-column-item {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 330px;
	margin-right: 15px;
	min-width: 330px;
	max-width: 330px;
	border: 3px solid transparent;
	border-top: none;
	transition: border .3s, transform .5s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	box-sizing: border-box;
	z-index: 2;
}

.crm-entity-merger-column-item:first-child {
	transition: border .3s, transform .6s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity .6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.crm-entity-merger-column-item .crm-entity-card-widget,
.crm-entity-merger-sidebar-inner .crm-entity-card-widget {
	margin-bottom: 0;
}

.crm-entity-merger-column-item .crm-entity-card-container-content {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .06);
}

.crm-entity-merger-column-onload-state.crm-entity-merger-column-item {
	cursor: pointer;
}

.crm-entity-merger-sidebar-result {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	height: 36px;
	padding: 0 36px;
	border-radius: 18px;
	border: 1px solid rgba(82, 92, 105, .21);
	font: 14px "OpenSans-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.crm-entity-merger-column-btn {
	position: relative;
	display: flex;
	align-items: center;
	flex-basis: 330px;
	padding: 5px 8px;
	margin-bottom: 15px;
	margin-right: 15px;
	height: 36px;
	min-width: 330px;
	max-width: 330px;
	border-radius: 18px;
	background-color: rgba(255, 255, 255, .6);
	transition: transform .5s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	box-sizing: border-box;
}

.crm-entity-merger-column-btn:first-child {
	transition: transform .6s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity .6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.crm-entity-merger-column-btn:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 60px;
	border-radius: 18px 18px 0 0;
	border: 3px solid transparent;
	border-bottom: none;
	transition: border-color .3s;
	box-sizing: border-box;
}

/*.crm-entity-merger-column-btn-active.crm-entity-merger-column-btn {*/
/*	pointer-events: none;*/
/*	cursor: default;*/
/*}*/

.crm-entity-merger-column-btn-active.crm-entity-merger-column-btn:before,
.crm-entity-merger-column-btn-hover.crm-entity-merger-column-btn:before {
	border-color: #2fc6f6;
}

.crm-entity-merger-column-btn-label {
	position: relative;
	display: flex;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
	/*margin-right: 12px;*/
	/*max-width: 100%;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.crm-entity-merger-column-btn-text,
.crm-entity-merger-column-btn-date,
.crm-entity-merger-column-btn-link {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.crm-entity-merger-column-btn-link-dark-box {
	position: relative;
	flex-grow: 1;
	font: 14px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.crm-entity-merger-column-btn-link-dark {
	display: inline-block;
	border-bottom: 1px dashed rgba(216,216,216,.4);
	color: #333;
	transition: border-bottom .3s;
}

.crm-entity-merger-column-btn-link-dark:hover {
	border-bottom: 1px dashed transparent;
	color: #333;
}

.crm-entity-merger-column-btn-text {
	margin-right: 2px;
	font: 14px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-entity-merger-column-btn-link-dark-box .crm-entity-merger-column-btn-date,
.crm-entity-merger-column-btn-date {
	font: 14px "OpenSans-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-entity-merger-column-btn-link-box {
	position: relative;
}

.crm-entity-merger-column-btn-link {
	margin-left: 10px;
	border-bottom: 1px dashed rgba(39, 107, 179, .4);
}

.crm-entity-merger-column-btn-radio-container {
	position: relative;
	display: block;
	height: 22px;
	width: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.crm-entity-merger-column-btn-radio {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.crm-entity-merger-column-btn-radio-mark {
	position: absolute;
	top: 1px;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid rgba(76, 86, 100, .38);
	background-color: #fff;
	border-radius: 50%;
	transition: border .3s;
	box-sizing: border-box;
}

.crm-entity-merger-column-btn-label:hover .crm-entity-merger-column-btn-radio ~ .crm-entity-merger-column-btn-radio-mark {
	border: 1px solid rgba(76, 86, 100, .68);
}

.crm-entity-merger-column-btn-label .crm-entity-merger-column-btn-radio:checked ~ .crm-entity-merger-column-btn-radio-mark {
	border: 1px solid #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.627%205.81L10.402%200%2012%201.607%204.652%209l-.025-.025L4.602%209%200%204.373l1.598-1.607z%22%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
}

.crm-entity-merger-column-btn-radio-mark:after {
	content: "";
	position: absolute;
	display: none;
}

.crm-entity-merger-column-btn-label .crm-entity-merger-column-btn-radio:checked ~ .crm-entity-merger-column-btn-radio-mark:after {
	display: block;
}

.crm-entity-merger-column-item-active.crm-entity-merger-column-item,
.crm-entity-merger-column-item-hover.crm-entity-merger-column-item {
	border: 3px solid #2fc6f6;
	border-top: none;
	cursor: default;
}

.crm-entity-merger-column-onload-state.crm-entity-merger-column-item {
	cursor: pointer;
}

.crm-entity-merger-column-item-active .crm-entity-merger-column-btn {
	background-color: #2fc6f6;
}

.crm-entity-merger-column-item-active .crm-entity-merger-column-btn-text,
.crm-entity-merger-column-item-active .crm-entity-merger-column-btn-date,
.crm-entity-merger-column-item-active .crm-entity-merger-column-btn-link {
	color: #fff;
}

.crm-entity-merger-column-item-active .crm-entity-merger-column-btn-link {
	border-color: #fff;
}

.crm-entity-merger-ear-left,
.crm-entity-merger-ear-right {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -50px;
	width: 50px;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: .2s;
	transition: .2s;
}

.crm-entity-merger-ear-left {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2081%22%3E%3Cpath%20fill%3D%22%23535c69%22%20opacity%3D%220.3%22%20d%3D%22M0%2C0H1.023A40.977%2C40.977%2C0%2C0%2C1%2C42%2C40.977v0A40.024%2C40.024%2C0%2C0%2C1%2C1.977%2C81H0a0%2C0%2C0%2C0%2C1%2C0%2C0V0A0%2C0%2C0%2C0%2C1%2C0%2C0Z%22/%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M20.8%2C49.09l-8.014-8.576L20.8%2C31.939a0.762%2C0.762%2C0%2C0%2C0%2C0-1.026l-1.563-1.673a0.647%2C0.647%2C0%2C0%2C0-.959%2C0l-8.014%2C8.576h0L8.224%2C40a0.762%2C0.762%2C0%2C0%2C0%2C0%2C1.026L18.28%2C51.788a0.647%2C0.647%2C0%2C0%2C0%2C.959%2C0L20.8%2C50.116A0.761%2C0.761%2C0%2C0%2C0%2C20.8%2C49.09Z%22/%3E%3C/svg%3E') center left no-repeat;
}

.crm-entity-merger-ear-right {
	left: auto;
	right: -50px;
	background: url('data:image/svg+xml;charset=US-ASCII,%0A%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2081%22%3E%3Cpath%20fill%3D%22%23535c69%22%20opacity%3D%220.3%22%20d%3D%22M40.024%2C0H42a0%2C0%2C0%2C0%2C1%2C0%2C0V81a0%2C0%2C0%2C0%2C1%2C0%2C0H40.977A40.977%2C40.977%2C0%2C0%2C1%2C0%2C40.024v0A40.024%2C40.024%2C0%2C0%2C1%2C40.024%2C0Z%22/%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M20.2%2C31.91l8.014%2C8.576L20.2%2C49.061a0.762%2C0.762%2C0%2C0%2C0%2C0%2C1.026l1.563%2C1.672a0.647%2C0.647%2C0%2C0%2C0%2C.958%2C0l8.014-8.576h0L32.776%2C41a0.762%2C0.762%2C0%2C0%2C0%2C0-1.025L22.72%2C29.212a0.647%2C0.647%2C0%2C0%2C0-.958%2C0L20.2%2C30.885A0.762%2C0.762%2C0%2C0%2C0%2C20.2%2C31.91Z%22/%3E%3C/svg%3E%0A') center right no-repeat;
}

.crm-entity-merger-left-ear-shown .crm-entity-merger-ear-left,
.crm-entity-merger-right-ear-shown .crm-entity-merger-ear-right {
	opacity: .6;
	z-index: 9999;
	pointer-events: auto;
}

.crm-entity-merger-right-ear-shown .crm-entity-merger-ear-right {
	right: 0;
}

.crm-entity-merger-left-ear-shown .crm-entity-merger-ear-left {
	left: 0;
}

.crm-entity-merger-left-ear-shown .crm-entity-merger-ear-left:hover,
.crm-entity-merger-right-ear-shown .crm-entity-merger-ear-right:hover {
	opacity: .8;
}

.crm-entity-merger-ear-shown {
	opacity: .5;
	z-index: 99;
	pointer-events: auto;
}

/*endregion*/

/*region crm.entity.editor*/
.crm-entity-card-widget .crm-entity-widget-content {
	padding-top: 0;
	padding-bottom: 0;
}

.crm-entity-widget-content .crm-entity-widget-content-block {
	margin-bottom: 0 !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	transition: 250ms linear all;
}

.crm-entity-widget-content .crm-entity-merger-row-odd { background-color: #f4f7f8; }

.crm-entity-widget-content .crm-entity-merger-row-even { background-color: #fff; }

.crm-entity-widget-content .crm-entity-widget-content-block.crm-entity-merger-column-cell-conflict:nth-child(odd) { background-color: #FAF7CA; }

.crm-entity-widget-content .crm-entity-widget-content-block.crm-entity-merger-column-cell-conflict:nth-child(even) { background-color: #fffdda; }

.crm-entity-widget-content .crm-entity-widget-content-block.crm-entity-merger-column-cell-conflict-option:nth-child(odd) { background-color: #DFF4FA; }

.crm-entity-widget-content .crm-entity-widget-content-block.crm-entity-merger-column-cell-conflict-option:nth-child(even) { background-color: #E8FAFF; }


.crm-entity-widget-content-block-inner-container { position: relative; }

.crm-entity-widget-content .crm-entity-widget-content-block.crm-entity-merger-column-cell-conflict:not([data-cid=CLIENT]),
.crm-entity-widget-content .crm-entity-widget-content-block.crm-entity-merger-column-cell-conflict .crm-entity-widget-content-block-inner-container {
	position: relative;
	padding-left: 36px;
}

.crm-entity-widget-content .crm-entity-widget-content-block.crm-entity-merger-column-cell-conflict:not([data-cid=CLIENT]):after,
.crm-entity-widget-content .crm-entity-widget-content-block.crm-entity-merger-column-cell-conflict .crm-entity-widget-content-block-inner-container:after {
	content: '';
	background-color: #FF5752;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -5px;
	left: 10px;
	animation: crmMerggerShowConflict 150ms;
	animation-delay: 100ms;
	animation-fill-mode: backwards;
}

.crm-entity-widget-content .crm-entity-widget-content-block.crm-entity-merger-column-cell-conflict .crm-entity-widget-content-block-inner-container:after { top: 11px; }

@keyframes crmMerggerShowConflict {
	from { opacity: 0 }
	to { opacity: 1; }
}

.crm-entity-widget-content-block-inner {overflow: hidden;}

.crm-entity-widget-content .crm-entity-widget-content-block.crm-entity-merger-column-cell-conflict-option { position: relative; }

.crm-entity-widget-before-action {
	transition: 250ms linear all;
	overflow: hidden;
	z-index: 10;
	margin-right: 10px;
	position: relative;
	float: left;
	width: 0;
}

.crm-entity-merger-column-cell-conflict-option .crm-entity-widget-before-action {
	width: 22px;
}

.crm-entity-merger-column-cell-switch-checkbox { display: none; }

.crm-entity-widget-before-action,
.crm-entity-merger-column-cell-switch {
	/*position: absolute;*/
	/*left: 10px;*/
	/*top: 17px;*/
}

.crm-entity-merger-column-cell-switch-checkbox-btn {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid rgba(76,86,100,.38);
	cursor: pointer;
	transition: 250ms linear all;
}

.crm-entity-merger-column-cell-switch-checkbox-btn:hover { border-color: #2FC6F6; }

.crm-entity-merger-column-cell-switch-checkbox:checked + .crm-entity-merger-column-cell-switch-checkbox-btn {
	background-color: #2FC6F6;
	border-color: #2FC6F6;
	position: relative;
}

.crm-entity-merger-column-cell-switch-checkbox-btn:after {
	content: '';
	display: block;
	height: 9px;
	width: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	transform: translate(-50%, -50%) rotate(45deg);
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

/*endregion*/

/* region Bottom Panel */

.crm-entity-merger-panel.ui-button-panel {
	position: relative;
	padding: 0;
}

.crm-entity-merger-panel-box {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

/*.crm-entity-merger-panel-box:first-child {*/
/*	margin-bottom: 15px;*/
/*	padding-bottom: 18px;*/
/*}*/

.crm-entity-merger-panel-border {
	border-bottom: 1px solid #eef2f4;
}

.crm-entity-merger-panel-list {
	display: flex;
	padding: 0;
}

.crm-entity-merger-panel-list-item {
	margin-right: 23px;
	list-style: none;
	font: 11px "OpenSans-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.crm-entity-merger-panel-list-item:last-child {
	margin-right: 0;
}

.crm-entity-merger-panel-list-name {
	margin-right: 4px;
	color: #828b95;
}

.crm-entity-merger-panel-list-value {
	color: #333;
}

.crm-entity-merger-panel-label-container {
	position: relative;
	display: flex;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	margin-right: 10px;
}

.crm-entity-merger-panel-label-inner {
	position: absolute;
	top: 50%;
	left: 0;
	display: flex;
	align-items: center;
	transform: translate(0,-50%);
}

.crm-entity-merger-panel-label {
	display: flex;
	align-items: center;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525C69;
	text-align: left;
}

.crm-entity-merger-panel-checkbox {
	margin-right: 8px;
}

.crm-entity-merger-panel-toggler-container {
	position: relative;
	display: flex;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

.crm-entity-merger-panel-toggler-inner {
	position: absolute;
	top: 50%;
	right: 0;
	display: flex;
	align-items: center;
	transform: translate(0, -50%);
}

.crm-entity-merger-panel-toggler-name {
	margin-right: 8px;
	display: inline-block;
	font: 12px "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #535C69;
	text-transform: uppercase;
}

.crm-entity-merger-panel-toggler {
	display: flex;
	align-items: center;
	padding: 0;
	width: 55px;
	height: 26px;
	border: 1px solid #c6cdd3;
	border-radius: 25px;
	background-color: transparent;
	outline: none;
}

.crm-entity-merger-panel-toggler-arrow {
	position: relative;
	display: inline-block;
	padding: 7px 10px;
	width: 7px;
	height: 11px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%207%2011%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M2.743%205.485l4.114%204.114-1.371%201.372L0%205.486%205.486%200l1.37%201.371-4.113%204.114z%22%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
	background-size: 7px 11px;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity .3s;
	cursor: pointer;
}

.crm-entity-merger-panel-toggler-arrow:first-child:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 26px;
	width: 1px;
	height: 16px;
	background-color: #c6cdd3;
	opacity: .2;
}

.crm-entity-merger-panel-toggler-arrow:last-child {
	transform: rotate(180deg) translateZ(0);
}

.crm-entity-merger-panel-toggler-arrow:hover {
	opacity: .6;
}

/* endregion */


.crm-entity-widget-client-block {
	position: relative;
	padding-left: 0;
	transition: 250ms linear all;
}

.crm-entity-merger-column-cell-conflict-option .crm-entity-widget-client-block {
	padding-left: 40px;
}

.crm-entity-merger-column-container .crm-widget-employee-avatar-container {
    width: 30px;
}
