/*******************************************************************************
 * Project:------------modules
 * Component-----------player
 * File Path-----------/modules/fileman/install/components/bitrix/player/templates/audio/style.css
 * Last Modified:------25.03.17 13:48
 *
 * @version:-----------17.3.25
 ******************************************************************************/

.vjs-timeline_player-skin .vjs-big-play-button {
	display: none;
}

.video-js.vjs-timeline_player-skin {
	overflow: hidden;
	box-sizing: border-box;
	max-width: 100%;
	height: 32px;
	border: 1px solid #DBE1E6;
	border-radius: 15px;
	background-color: #fff;
}

.vjs-text-track-display { display: none !important; }

.video-js.vjs-timeline_player-skin .vjs-control-bar {
	display: block;
	background-color: #fff;
}

.video-js.vjs-timeline_player-skin .vjs-control-bar .vjs-mouse-display:after{
	display: none;
	visibility: hidden;
}

/* Slider - used for Volume bar and Progress bar */
.video-js.vjs-timeline_player-skin .vjs-slider { }

.video-js.vjs-timeline_player-skin .vjs-slider-bar:after,
.video-js.vjs-timeline_player-skin .vjs-slider-bar:before {
	display: none;
	content: normal;
}

.video-js.vjs-timeline_player-skin .vjs-text-track-display { display: none !important; }

/**/
.video-js.vjs-timeline_player-skin .vjs-icon-pause,
.video-js.vjs-timeline_player-skin .vjs-icon-played,
.video-js.vjs-timeline_player-skin .vjs-play-control.vjs-button,
.video-js.vjs-timeline_player-skin .vjs-play-control.vjs-playing,
.video-js.vjs-timeline_player-skin .vjs-play-control.vjs-paused {
	position: absolute;
	top: 4px;
	left: 5px;
	box-sizing: border-box;
	width: 22px;
	height: 22px;
	border: 1px solid #ABCBF3;
	border-radius: 50%;
	color: #468ee5;
	transition: 220ms border ease;
}
.video-js.vjs-timeline_player-skin .vjs-icon-pause:hover,
.video-js.vjs-timeline_player-skin .vjs-icon-played:hover,
.video-js.vjs-timeline_player-skin .vjs-play-control.vjs-button:hover,
.video-js.vjs-timeline_player-skin .vjs-play-control.vjs-playing:hover,
.video-js.vjs-timeline_player-skin .vjs-play-control.vjs-paused:hover{
	border-color: #468EE5;
}

.video-js.vjs-timeline_player-skin .vjs-icon-pause:before,
.video-js.vjs-timeline_player-skin .vjs-play-control.vjs-paused:before,
.video-js.vjs-timeline_player-skin .vjs-icon-played:before,
.video-js.vjs-timeline_player-skin .vjs-play-control.vjs-playing:before {
	top: 50%;
	margin-top: -50%;
	height: 18px;
}

.video-js.vjs-timeline_player-skin .vjs-control:before {
	vertical-align: middle;
	font-size: 13px;
	line-height: 19px;
}

/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
.video-js.vjs-timeline_player-skin .vjs-volume-level,
.video-js.vjs-timeline_player-skin .vjs-play-progress,
.video-js.vjs-timeline_player-skin .vjs-slider-bar {transition: 100ms all ease}

/**/
.video-js.vjs-timeline_player-skin .vjs-progress-control {
	position: absolute;
	right: 40px;
	left: 35px;
	display: block;
	width: auto;
}

/**/
.video-js.vjs-timeline_player-skin .vjs-remaining-time {
	position: absolute;
	right: 7px;
	padding: 0;
	vertical-align: middle;
	font-size: 11px;
	line-height: 30px;
}

.video-js.vjs-timeline_player-skin .vjs-remaining-time-display { color: #979da4; }

.video-js.vjs-timeline_player-skin .vjs-remaining-time .vjs-control-text { display: none; }

/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js.vjs-timeline_player-skin .vjs-load-progress {
}

.video-js.vjs-timeline_player-skin .vjs-icon-played { height: 100%; }

.video-js.vjs-timeline_player-skin .vjs-play-progress.vjs-slider-bar { height: 100%; }

.video-js.vjs-timeline_player-skin .vjs-play-progress {
	height: 100%;
	background: #468ee5 url(progress-mask.svg) left center repeat-x;
	background-size: auto 30px;
}

.video-js.vjs-timeline_player-skin .vjs-progress-control .vjs-progress-holder {
	margin: 0;
	padding: 0;
}

.video-js.vjs-timeline_player-skin .vjs-progress-control .vjs-progress-holder,
.video-js.vjs-timeline_player-skin .vjs-progress-control:hover .vjs-progress-holder { font-size: 1.666666666666666666em; }

.video-js.vjs-timeline_player-skin .vjs-progress-control .vjs-progress-holder,
.video-js.vjs-timeline_player-skin .vjs-progress-control:hover .vjs-progress-holder { height: 100%; }

.video-js.vjs-timeline_player-skin .vjs-slider { background: #d2d5d9 url(progress-mask.svg) left center repeat-x; }

.video-js.vjs-timeline_player-skin .vjs-progress-holder .vjs-load-progress { display: none; }

/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
.video-js.vjs-timeline_player-skin .vjs-load-progress div { }

.video-js.vjs-timeline_player-skin .vjs-volume-menu-button {
	display: none;
}

.video-js.vjs-timeline_player-skin .vjs-fullscreen-control {
	display: none;
}

.video-js.vjs-timeline_player-skin .vjs-time-divider {
	display: block;
}

.video-js.vjs-timeline_player-skin .vjs-duration {
	display: block;
}