.task-no-access-title {
	color: #525C69;
	margin-bottom: 16px;
	font: 29px/35px 'OpenSans-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.task-no-access-subtitle {
	color: #868d96;
	margin-bottom: 18px;
	font: 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.task-no-access {
	display: flex;
	justify-content: center;
	text-align: center;
	background: #eef2f4;
}

.task-no-access-inner {
	max-width: 730px;
	padding: 77px 0 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.task-no-access-img {
	margin-bottom: 110px;
	position: relative;
}

.task-no-access-img:before, .task-no-access-img:after {
	content: '';
	position: absolute;
}

.task-no-access-img:before {
	width: 105px;
	height: 207px;
	top: 50px;
	left: -107px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22107%22%20height%3D%22208%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M78.233%2029.985h-23.19c-.199%200-.395-.008-.59-.022C49.212%2029.842%2045%2025.512%2045%2020.188a9.835%209.835%200%20012.84-6.916%209.674%209.674%200%20013.231-2.155%2010.377%2010.377%200%20012.967-8.098A10.165%2010.165%200%200161.265%200c3.471.004%206.536%201.758%208.378%204.435a8.27%208.27%200%20012.797-.483c4.333.005%207.892%203.343%208.305%207.61%204.152.915%207.259%204.652%207.255%209.12-.004%205.149-4.138%209.32-9.234%209.318-.18%200-.357-.005-.533-.015z%22%20opacity%3D%22.057%22/%3E%3Cpath%20stroke%3D%22%23525C69%22%20d%3D%22M81.95%20206.962H25.461c-.483%200-.962-.018-1.437-.053C11.26%20206.616%201%20196.079%201%20183.125a23.919%2023.919%200%20016.919-16.83%2023.566%2023.566%200%20017.87-5.244%2025.238%2025.238%200%20017.227-19.705A24.772%2024.772%200%200140.617%20134c8.455.01%2015.92%204.278%2020.407%2010.792a20.162%2020.162%200%20016.813-1.175c10.555.013%2019.224%208.133%2020.229%2018.518%2010.113%202.225%2017.681%2011.319%2017.672%2022.191-.01%2012.53-10.08%2022.68-22.493%2022.674-.435%200-.868-.013-1.297-.038h0z%22%20opacity%3D%22.089%22/%3E%3C/g%3E%3C/svg%3E) no-repeat center;
}

.task-no-access-img:after {
	width: 56px;
	height: 148px;
	top: 55px;
	right: -37px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2257%22%20height%3D%22149%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M48.596%20148.987H28.642c-.171%200-.34-.007-.508-.02-4.51-.104-8.134-3.857-8.134-8.47a8.555%208.555%200%20012.444-5.995%208.32%208.32%200%20012.78-1.867%209.027%209.027%200%20012.553-7.018A8.715%208.715%200%200133.995%20123c2.987.004%205.624%201.524%207.21%203.844a7.07%207.07%200%20012.406-.419c3.729.005%206.791%202.897%207.146%206.596%203.573.792%206.246%204.031%206.243%207.903-.004%204.463-3.56%208.078-7.946%208.076-.154%200-.306-.005-.458-.013z%22%20opacity%3D%22.057%22/%3E%3Cpath%20stroke%3D%22%23525C69%22%20d%3D%22M24.186%2021.99H8.006c-.138%200-.275-.006-.41-.016C3.938%2021.889%201%2018.858%201%2015.132a6.896%206.896%200%20011.982-4.842%206.748%206.748%200%20012.254-1.508%207.276%207.276%200%20012.07-5.668A7.08%207.08%200%200112.348%201c2.421.003%204.56%201.23%205.845%203.104a5.752%205.752%200%20011.951-.338c3.023.004%205.506%202.34%205.794%205.328%202.897.64%205.065%203.256%205.062%206.383-.003%203.605-2.887%206.524-6.443%206.523-.124%200-.248-.004-.371-.01h0z%22%20opacity%3D%22.089%22/%3E%3C/g%3E%3C/svg%3E) no-repeat center;
}

.task-no-access-img-inner {
	width: 302px;
	height: 303px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%22275%22%20height%3D%22302%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22a%22%20width%3D%22148.1%25%22%20height%3D%22148.1%25%22%20x%3D%22-24%25%22%20y%3D%22-19.2%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%20stdDeviation%3D%223%22/%3E%3CfeColorMatrix%20in%3D%22shadowBlurOuter1%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.179468969%200%22/%3E%3C/filter%3E%3Cfilter%20id%3D%22c%22%20width%3D%22122.3%25%22%20height%3D%22136.1%25%22%20x%3D%22-11.1%25%22%20y%3D%22-14.4%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%20stdDeviation%3D%223%22/%3E%3CfeColorMatrix%20in%3D%22shadowBlurOuter1%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.0957440997%200%22/%3E%3C/filter%3E%3Cfilter%20id%3D%22e%22%20width%3D%22148.1%25%22%20height%3D%22148.1%25%22%20x%3D%22-24%25%22%20y%3D%22-19.2%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%20stdDeviation%3D%223%22/%3E%3CfeColorMatrix%20in%3D%22shadowBlurOuter1%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.179468969%200%22/%3E%3C/filter%3E%3Cfilter%20id%3D%22g%22%20width%3D%22122.3%25%22%20height%3D%22136.1%25%22%20x%3D%22-11.1%25%22%20y%3D%22-14.4%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%20stdDeviation%3D%223%22/%3E%3CfeColorMatrix%20in%3D%22shadowBlurOuter1%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.0957440997%200%22/%3E%3C/filter%3E%3Cfilter%20id%3D%22i%22%20width%3D%22127.8%25%22%20height%3D%22127.8%25%22%20x%3D%22-13.9%25%22%20y%3D%22-11.1%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%20stdDeviation%3D%223%22/%3E%3CfeColorMatrix%20in%3D%22shadowBlurOuter1%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.0741641171%200%22/%3E%3C/filter%3E%3Cpath%20id%3D%22d%22%20d%3D%22M2%200h85.738a2%202%200%20012%202v51.448a2%202%200%2001-2%202H2a2%202%200%2001-2-2V2a2%202%200%20012-2z%22/%3E%3Cpath%20id%3D%22h%22%20d%3D%22M2%200h85.738a2%202%200%20012%202v51.448a2%202%200%2001-2%202H2a2%202%200%2001-2-2V2a2%202%200%20012-2z%22/%3E%3Cpath%20id%3D%22j%22%20d%3D%22M36%2072C16.118%2072%200%2055.883%200%2036%200%2016.118%2016.117%200%2036%200c19.882%200%2036%2016.118%2036%2036%200%2019.883-16.118%2036-36%2036z%22/%3E%3Crect%20id%3D%22b%22%20width%3D%2241.586%22%20height%3D%2241.586%22%20x%3D%2240.127%22%20y%3D%225.107%22%20rx%3D%225%22%20fill%3D%22%23000%22/%3E%3Crect%20id%3D%22f%22%20width%3D%2241.586%22%20height%3D%2241.586%22%20x%3D%2240.127%22%20y%3D%225.107%22%20rx%3D%225%22/%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22nonzero%22%3E%3Cpath%20d%3D%22M138%2027.77c61.958%200%20112.184%2050.023%20112.184%20111.73%200%2061.708-50.226%20111.73-112.184%20111.73S25.816%20201.208%2025.816%20139.5C25.816%2077.793%2076.04%2027.77%20138%2027.77zm0%2038.73c-40.57%200-73.456%2032.683-73.456%2073s32.887%2073%2073.456%2073%2073.456-32.683%2073.456-73-32.887-73-73.456-73z%22%20opacity%3D%22.113%22/%3E%3Cpath%20d%3D%22M224.15%20103.514c.04.036.077.074.115.112%2014.131%2033.951%207.388%2074.538-20.23%20102.156-27.641%2027.642-68.276%2034.372-102.245%2020.191a2.186%202.186%200%20011.816-3.676l-.886-.37c32.614%2013.92%2071.815%207.575%2098.425-19.036%2026.402-26.402%2032.855-65.198%2019.36-97.658a2.186%202.186%200%20013.645-1.719zM71.717%2073.464c27.142-27.142%2066.812-34.122%20100.397-20.94a2.186%202.186%200%2001-.936%203.9l-.126.02-.122.01-.319-.127C138.495%2043.724%20100.563%2050.4%2074.61%2076.355c-25.883%2025.883-32.594%2063.678-20.132%2095.738a2.186%202.186%200%2001-3.611%201.893l-.061-.056-.389-1.006c-12.689-33.384-5.588-72.57%2021.302-99.46z%22%20opacity%3D%22.198%22/%3E%3Cpath%20d%3D%22M76.794%20218.319l15.957-4.276a2.056%202.056%200%20011.064%203.971l-10.967%202.942c30.347%2021.018%2071.312%2024.03%20105.402%204.347%2035.286-20.372%2053.199-59.28%2048.54-97.325l3.69-2.13c5.797%2040.438-12.938%2082.177-50.48%20103.853-35.25%2020.351-77.53%2017.499-109.152-3.82l2.729%2010.175a2.063%202.063%200%2001-3.986%201.068l-4.038-15.063c-.245-.189-.49-.379-.733-.57l.505-.294-.028-.133a2.051%202.051%200%2001-.018-.563%202.057%202.057%200%20011.515-2.182zM87%2051.299c36.453-21.046%2080.423-17.277%20112.35%206.065l-2.91-10.858a2.063%202.063%200%20113.986-1.068l4.253%2015.87c.068.253.085.507.06.752a2.057%202.057%200%2001-1.516%202.183l-15.957%204.275a2.056%202.056%200%2001-1.064-3.97l12.084-3.24c-30.616-23.044-73.257-26.98-108.536-6.612-35.939%2020.75-53.855%2060.725-48.258%2099.432l-4.714%202.722C30.2%20115.887%2048.932%2073.278%2087%2051.3z%22%20opacity%3D%22.298%22/%3E%3C/g%3E%3Cg%20transform%3D%22translate%2867.5%20134.358%29%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23a%29%22%20xlink%3Ahref%3D%22%23b%22/%3E%3Cuse%20fill%3D%22%23C5F03F%22%20xlink%3Ahref%3D%22%23b%22/%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23c%29%22%20xlink%3Ahref%3D%22%23d%22/%3E%3Cuse%20fill%3D%22%23A0E8FF%22%20xlink%3Ahref%3D%22%23d%22/%3E%3Cpath%20fill%3D%22%2366D5F9%22%20d%3D%22M27.944%2011.976c1.072%200%201.94.87%201.94%201.941v18.118c0%201.072-.868%201.941-1.94%201.941H9.826a1.941%201.941%200%2001-1.941-1.941V13.917c0-1.072.869-1.94%201.941-1.94h18.118zm-1.294%203.235H11.12v11.324h3.883v4.206h7.764v-4.206h3.883V15.211zm46.665%209.945a2.554%202.554%200%20010%205.107H37.167a2.554%202.554%200%20110-5.107h36.148zm-51.121-7.533l1.294%201.94-5.824%205.824-3.235-3.235%201.424-1.812%201.811%201.877%204.53-4.594zm51.12-2.681a2.554%202.554%200%20010%205.107H37.168a2.554%202.554%200%20110-5.107h36.148z%22/%3E%3C/g%3E%3Cg%20transform%3D%22translate%28114.679%2084.5%29%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23e%29%22%20xlink%3Ahref%3D%22%23f%22/%3E%3Cuse%20fill%3D%22%23C5F03F%22%20xlink%3Ahref%3D%22%23f%22/%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23g%29%22%20xlink%3Ahref%3D%22%23h%22/%3E%3Cuse%20fill%3D%22%23B3E600%22%20xlink%3Ahref%3D%22%23h%22/%3E%3Cg%20fill%3D%22%2394B817%22%20opacity%3D%22.536%22%20transform%3D%22translate%287.296%207.296%29%22%3E%3Crect%20width%3D%2211.673%22%20height%3D%2211.673%22%20x%3D%221.459%22%20y%3D%2228.454%22%20opacity%3D%22.883%22%20rx%3D%225.837%22/%3E%3Crect%20width%3D%2211.673%22%20height%3D%2211.673%22%20x%3D%2218.24%22%20y%3D%2228.454%22%20opacity%3D%22.883%22%20rx%3D%225.837%22/%3E%3Cpath%20d%3D%22M21.469%204.538c1.072%200%201.941.87%201.941%201.942v18.117c0%201.072-.869%201.941-1.941%201.941H3.35a1.941%201.941%200%2001-1.94-1.94V6.48c0-1.072.868-1.942%201.94-1.942H21.47zm-1.294%203.236H4.645v11.323h3.883v4.206h7.764v-4.206h3.883V7.774zM71.68%2017.87a2.554%202.554%200%20010%205.107H31.788a2.554%202.554%200%20010-5.107h39.893zM15.72%2010.185l1.294%201.94-5.823%205.824-3.236-3.235%201.424-1.812%201.812%201.877%204.529-4.594zm55.962-2.528a2.554%202.554%200%20110%205.107H31.788a2.554%202.554%200%20010-5.107h39.893z%22/%3E%3C/g%3E%3C/g%3E%3Cg%20fill-rule%3D%22nonzero%22%20opacity%3D%22.866%22%20transform%3D%22translate%28102%20103.5%29%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23i%29%22%20xlink%3Ahref%3D%22%23j%22/%3E%3Cuse%20fill%3D%22%23FF5752%22%20xlink%3Ahref%3D%22%23j%22/%3E%3C/g%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M159.375%20149.932l-18.344-30.554c-1.414-2.346-4.782-2.346-6.165%200l-18.344%2030.554c-1.444%202.405.3%205.443%203.097%205.443h36.689c2.766%200%204.51-3.038%203.067-5.443zm-24.058-19.908a2.426%202.426%200%20012.436-2.436h.33a2.426%202.426%200%20012.437%202.436v9.112a2.426%202.426%200%2001-2.436%202.435h-.331a2.426%202.426%200%2001-2.436-2.435v-9.112zm5.684%2017.682a3.08%203.08%200%2001-3.068%203.068%203.08%203.08%200%2001-3.067-3.068%203.08%203.08%200%20013.067-3.067%203.08%203.08%200%20013.068%203.067z%22/%3E%3Cpath%20fill%3D%22%232FC6F6%22%20d%3D%22M160.669%20164.971H117.38c-.37%200-.738-.014-1.101-.04-9.783-.226-17.646-8.309-17.646-18.246a18.358%2018.358%200%20015.302-12.91%2018.059%2018.059%200%20016.031-4.024%2019.37%2019.37%200%20015.538-15.116%2018.975%2018.975%200%200113.49-5.635c6.48.008%2012.201%203.282%2015.64%208.278a15.437%2015.437%200%20015.22-.9c8.09.01%2014.733%206.239%2015.503%2014.205%207.75%201.707%2013.55%208.683%2013.543%2017.023-.008%209.612-7.724%2017.398-17.238%2017.394-.333%200-.665-.01-.993-.029z%22%20opacity%3D%22.062%22/%3E%3Cpath%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22nonzero%22%20d%3D%22M98.424%20100.86c16.666-16.666%2041.222-20.631%2061.644-11.896l-2.164%202.163c-19.324-7.8-42.278-3.868-57.942%2011.796-15.665%2015.664-19.597%2038.618-11.796%2057.942l-1.638%201.639c-8.736-20.421-4.77-44.978%2011.896-61.644zm79.196%2079.196c-16.9%2016.9-41.912%2020.74-62.499%2011.522l1.567-1.568c19.54%208.386%2043.056%204.603%2059.01-11.351%2015.953-15.954%2019.737-39.469%2011.35-59.01l2.094-2.092c9.218%2020.587%205.377%2045.6-11.522%2062.499z%22%20opacity%3D%22.046%22/%3E%3C/g%3E%3C/svg%3E) no-repeat center;
}