.tasks-scrum-wrapper .workarea-content-paddings { padding-right: 15px !important; }

.tasks-scrum-wrapper .pagetitle-below { margin-right: 15px; }

.tasks-scrum-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.tasks-scrum-actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 10px 0 0;
}

.tasks-scrum-action-epic {
	position: relative;
	margin-left: 12px;
}

.tasks-scrum-action-epic::after {
	display: block;
	content: '+';
	position: absolute;
	left: -12px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.tasks-scrum-action-group {
	position: relative;
	/*margin-left: 12px;*/
}

.tasks-scrum-action-group::after {
	display: block;
	content: '+';
	position: absolute;
	left: -12px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.tasks-scrum-sprints {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-width: calc(50% - 8px);
	max-width: calc(50% - 8px);
	/*padding: 0 0 0 8px;*/
}

.tasks-scrum-sprint-create {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px;
	width: 100%;
}

.tasks-scrum-sprint-create::after {
	position: static;
	top: auto;
	left: auto;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	transform: translateY(-1px);
}

.tasks-scrum-sprint-create span {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.tasks-scrum-dragndrop {
	position: absolute;
	left: 2px;
	top: 12px;
	width: 6px;
	height: 14px;
	background: no-repeat center url(images/dragndrop.svg);
	opacity: 0;
	-webkit-transition: 170ms linear all;
	-o-transition: 170ms linear all;
	transition: 170ms linear all;
	cursor: -webkit-grab;
	cursor: grab;
	z-index: 10;
	padding: 4px;
}

/** page **/
.tasks-pagetitle-view .pagetitle-below,
.tasks-pagetitle-view .ui-side-panel-wrap-below {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0 5px 0 13px;
	border-top: 1px solid #dce2e6;
}

.tasks-pagetitle-view .pagetitle-below { min-height: 53px }

.tasks-scrum-switcher {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	height: 53px;
	color: #545c6a;
	font: 13px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
}

.tasks-scrum-switcher-tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
}

.tasks-scrum-switcher-tab,
.tasks-scrum-switcher-tab:link,
.tasks-scrum-switcher-tab:visited {
	margin: 0 18px 0 0;
	color: #545c6a;
	text-decoration: none;
	white-space: nowrap;
	font: 14px/30px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.32px;
	cursor: pointer;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
}

.bitrix24-light-theme .tasks-scrum-switcher-tab,
.bitrix24-light-theme .tasks-scrum-switcher-tab:link,
.bitrix24-light-theme .tasks-scrum-switcher-tab:visited {
	color: rgba(255, 255, 255, 0.5);
}

.bitrix24-light-theme .tasks-scrum-switcher-tab:hover {
	color: #fff;
}

.tasks-scrum-switcher-tab:empty { display: none; }

.tasks-scrum-switcher-tab:hover { color: #1f2127; }

.tasks-scrum-switcher-tabs .tasks-scrum-switcher-tab-active {
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.bitrix24-light-theme .tasks-scrum-switcher-tabs .tasks-scrum-switcher-tab-active {
	color: rgba(255, 255, 255, 0.5);
	color: #fff;
}

.tasks-scrum-active-sprint-stats {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
}

.tasks-scrum-actions-complete-sprint {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
}

.tasks-scrum-entity-items-faded {
	opacity: 0.5;
	pointer-events: none;
}
.tasks-scrum-backlog {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0 18px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background-color: #fff;
	border-radius: 1px;
	min-width: calc(50% - 8px);
	max-width: calc(50% - 8px);
}

.tasks-scrum-backlog-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	font-size: 10px;
	padding: 14px 0 14px;
	border-bottom: 1px solid #edeefe;
}

.tasks-scrum-backlog-title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #333;
	letter-spacing: 0;
	margin-right: 10px;
}

.tasks-scrum-backlog-title-spacer {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.tasks-scrum-backlog-epics-title {}

.tasks-scrum-backlog-story-point-title {
	font: bold 10px/13px "OpenSans-Semibold", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1px;
	opacity: .5;
	font-size: 11px;
	color: #333;
}

.tasks-scrum-backlog-story-point {
	background: rgba(82, 92, 105, 0.11);
	border-radius: 4px;
	font: 13px "OpenSans-Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(82, 92, 105, 0.9);
	letter-spacing: 0;
	text-align: center;
	padding: 3px 12px;
	margin-left: 5px;
	font-size: 15px;
	color: #525c69;
}

.tasks-scrum-backlog-items {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 0 0 10px;
}
.tasks-scrum-sprint-dragndrop {
	width: 18px;
	height: 17px;
	background: no-repeat center url(images/dragndrop.svg);
	opacity: 0;
	-webkit-transition: 170ms linear all;
	-o-transition: 170ms linear all;
	transition: 170ms linear all;
	cursor: -webkit-grab;
	cursor: grab;
	z-index: 10;
	padding-left: 2px;
}

.tasks-scrum-sprint-header-empty {
	padding-right: 18px;
}

.tasks-scrum-sprint-header:hover .tasks-scrum-sprint-dragndrop { opacity: .5; }

.tasks-scrum-sprint-dragndrop:hover { opacity: 1; }

.tasks-scrum-sprint-sprint-add-drop {
	margin: 10px 0 0;
	width: 100%;
	height: 70px;
}

.tasks-scrum-sprint-sprint-add-drop .ui-ctl-label-text small {
	font-size: 10px;
	padding-top: 0;
}

.tasks-scrum-sprint {
	margin: 0 0 10px;
	background-color: #fff;
	border-radius: 1px;
	overflow: hidden;
}

.tasks-scrum-sprint-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 4px 0;
}

.tasks-scrum-sprint-header-active { background-color: #eaf5c5; }

.tasks-scrum-sprint-header-completed { background-color: #eaeaea; }

.tasks-scrum-sprint-header-planned { background-color: #d1eef9; }

.tasks-scrum-sprint-header-name-container { min-width: 0; }

.tasks-scrum-sprint-header-name {
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #333;
	letter-spacing: 0.4px;
	min-width: 1px;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	border: none;
	border-bottom: 1px solid transparent;
	background: none;
	outline: none;
	padding: 0;
}

input.tasks-scrum-sprint-header-name { border-bottom: 1px solid rgba(51, 51, 51, 0.45);}

.tasks-scrum-sprint-header-edit {
	background: no-repeat center url(images/edit.svg);
	width: 22.5px;
	height: 22.5px;
	min-width: 22.5px;
	max-width: 22.5px;
	opacity: 0;
	-webkit-transition: 170ms linear all;
	-o-transition: 170ms linear all;
	transition: 170ms linear all;
}

.tasks-scrum-sprint-header:hover .tasks-scrum-sprint-header-edit { opacity: .5; }

.tasks-scrum-sprint-header-title-edit .tasks-scrum-sprint-header-edit { opacity: 0; }

.tasks-scrum-sprint-header-edit:hover {
	cursor: pointer;
	opacity: 1;
}

.tasks-scrum-sprint-header-remove {
	background: no-repeat center url(images/remove.svg);
	width: 22.5px;
	height: 22.5px;
	min-width: 22.5px;
	max-width: 22.5px;
	opacity: 0;
	-webkit-transition: 170ms linear all;
	-o-transition: 170ms linear all;
	transition: 170ms linear all;
}

.tasks-scrum-sprint-header:hover .tasks-scrum-sprint-header-remove { opacity: .5; }

.tasks-scrum-sprint-header-title-edit .tasks-scrum-sprint-header-remove { opacity: 0; }

.tasks-scrum-sprint-header-remove:hover {
	cursor: pointer;
	opacity: 1;
}

.tasks-scrum-sprint-header-params {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-scrum-sprint-header-stats {
	color: #6b6f76;
	text-decoration: none;
	font-size: 12px;
}

.tasks-scrum-sprint-header-stats .ui-ctl-label-text {
	padding: 0;
	font-size: 12px;
}

.tasks-scrum-sprint-header-stats-kanban {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}

.tasks-scrum-sprint-date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #525c69;
	letter-spacing: 0;
}

.tasks-scrum-sprint-date .tasks-scrum-sprint-date-separator {
	padding: 0 5px 0 5px;
	cursor: default;
}

.tasks-scrum-sprint-date-start {
	border-bottom: 1px dashed rgba(66, 87, 105, 0.4);
	text-decoration: none;
	cursor: pointer;
	line-height: 13px;
}

.tasks-scrum-sprint-date-end {
	border-bottom: 1px dashed rgba(66, 87, 105, 0.4);
	text-decoration: none;
	cursor: pointer;
	line-height: 13px;
}

.tasks-scrum-sprint-header-button { padding: 0 0 0 15px; }

.tasks-scrum-sprint-header-tick { cursor: pointer; }

.tasks-scrum-sprint-header-tick .ui-btn.ui-btn-light {
	--ui-btn-background-hover: transparent;
	--ui-btn-background-active: transparent;
	--ui-btn-border-color-hover: transparent;
}

.tasks-scrum-sprint-header-events {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 33px 9px 20px;
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2066b0;
}

.tasks-scrum-sprint-story-point-title {
	font: bold 10px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*text-transform: uppercase;*/
	opacity: 0.65;
	color: #525c69;
	letter-spacing: 0.1px;
	margin-left: 5px;
}

.tasks-scrum-sprint-story-point-done-title,
.tasks-scrum-sprint-story-point-in-work-title {
	opacity: 0.56;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c69;
	margin-left: 10px;
}

.tasks-scrum-sprint-story-point {
	background: rgba(82, 92, 105, 0.11);
	border-radius: 4px;
	font: 13px "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(82, 92, 105, 0.9);
	letter-spacing: 0;
	text-align: center;
	padding: 0 8px;
	margin-left: 5px;
	min-height: 19px;
}

.tasks-scrum-sprint-story-point-in-work {
	color: #009ed0;
	background: rgba(0, 166, 218, 0.1);
}

.tasks-scrum-sprint-story-point-done {
	background: rgba(92, 151, 0, 0.1);
	color: #599100;
}

.tasks-scrum-sprint-header-event-params {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-scrum-sprint-actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 0 0 15px;
}

.tasks-scrum-sprint-action { padding: 0 15px 7px 0; }

.tasks-scrum-sprint-items {
	border-top: 1px solid #dce2e6;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 0 10px 10px 10px;
}

.tasks-scrum-sprint-content {
	display: none;
}

.tasks-scrum-sprint-start-popup,
.tasks-scrum-sprint-start-popup-duration,
.tasks-scrum-sprint-start-popup-taken {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.tasks-scrum-sprint-start-popup-content-title { font-weight: bold; }

.tasks-scrum-sprint-start-popup-content-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 0;
}

.tasks-scrum-sprint-complete-popup,
.tasks-scrum-sprint-complete-popup-result,
.tasks-scrum-sprint-complete-popup-actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.tasks-scrum-sprint-complete-popup-result-header {
	font-weight: bold;
	padding: 0 0 10px 0;
}

.tasks-scrum-sprint-complete-popup-move-header {
	font-weight: bold;
	padding: 10px 0 10px 0;
}

.tasks-scrum-sprint-complete-popup-move-select {
	padding: 2px 0 10px 0;
}

.tasks-scrum-sprint-complete-popup-result-completed,
.tasks-scrum-sprint-complete-popup-result-uncompleted {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum-sprint-complete-popup-move-sprint {
	display: none;
}
.tasks-scrum-item {
	margin: 10px 0 0;
	padding: 8px 0 4px 17px;
	background: #fff;
	border: 1px solid rgba(82, 92, 105, 0.14);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
	        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #333;
	-webkit-transition: 180ms linear all;
	-o-transition: 180ms linear all;
	transition: 180ms linear all;
	position: relative;
}

.tasks-scrum-item:hover {
	cursor: pointer;
	border-color: rgba(82, 92, 105, 0.44);
}

.tasks-scrum-item.tasks-scrum-item-decomposition-mode {
	border: 1px solid #7bd500;
}

.tasks-scrum-item.tasks-scrum-item-decomposition-mode:hover {
	border: 1px solid #7bd500;
}

.tasks-scrum-item-inner {
	max-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum-item .task-title-indicators {
	position: relative;
	top: 7px;
}

/*.tasks-scrum-item-edit-mode .tasks-scrum-dragndrop {display: none;}*/

.tasks-scrum-item:hover .tasks-scrum-dragndrop { opacity: .5; }

.tasks-scrum-item:hover .tasks-scrum-dragndrop:hover { opacity: 1; }

.tasks-scrum-item-name {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	max-width: 100%;
	min-width: 0;
}

/*.tasks-scrum-item-name-text {
	text-align: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #333;
	padding: 16px 14px;
}*/

.tasks-scrum-item-name-field {
	width: auto !important;
	min-width: 0;
	margin-bottom: 8px;
}

.tasks-scrum-item-name-field div.ui-ctl-element[contenteditable] {
	padding: 4px 4px 7px;
	font-size: 15px;
}

.tasks-scrum-item-params {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
	padding-right: 14px;
}

/*.tasks-scrum-item-story-points-field .ui-ctl-element {padding-top: 10px !important;}*/

.tasks-scrum-item-responsible {
	margin-top: 6px;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-size: cover;
	margin-right: 10px;
}

.tasks-scrum-item-story-points {
	/*padding: 7px 0;*/
	text-align: center;
}

.tasks-scrum-item-story-points .ui-ctl {
	width: 100%;
	text-align: right;
	padding: 0;
	vertical-align: middle;
	min-width: 40px;
}

.tasks-scrum-item-story-points .ui-ctl .ui-ctl-element {
	text-align: center;
	position: relative;
}

.tasks-scrum-item-story-points .ui-ctl .ui-ctl-element:after {
	content: "";
	position: absolute;
	width: calc(100% - 24px);
	border-bottom: 1px dashed rgba(82, 92, 105, 0.71);
	bottom: 4px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.tasks-scrum-item-tags-container {
	margin-left: 5px;
	margin-right: 4px;
	margin-bottom: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
}

.tasks-scrum-item-tags-container div {
	margin-top: 2px;
	margin-bottom: 2px;
}

.tasks-scrum-item-epic-label {
	border-radius: 2px;
	border: none;
}

.task-title-indicators {
	margin-right: 10px;
}

.task-title-indicators .ui-label {
	margin-right: 1px;
}

.task-comments-counter {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.task-attachment-counter.ui-label + .task-checklist-counter.ui-label,
.task-checklist-counter.ui-label + .task-attachment-counter.ui-label {
	margin-left: 0;
}
.tasks-scrum-epic-form { padding: 0 12px 0 20px; }

.tasks-scrum-epics-list { padding: 0 12px 0 20px; }

.tasks-scrum-epic-header {
	padding: 19px 5px 22px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.tasks-scrum-epic-header-title {
	font: 24px/32px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

.tasks-scrum-epic-form-container {
	background-color: #fff;
	padding: 19px 17px;
}

.tasks-scrum-epic-form-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.tasks-scrum-epic-form-header-title {
	border-bottom: 1px solid rgba(82, 92, 105, 0.2);
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-bottom: 12px;
	font: 18px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

.tasks-scrum-epic-form-header-title-control {
	width: 100%;
	border-color: transparent;
	font: 18px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

.tasks-scrum-epic-form-header-separate {
	width: 22px;
	max-width: 22px;
	min-width: 22px;
}

.tasks-scrum-epic-header-color {
	width: 64px;
	max-width: 64px;
	min-width: 64px;
	border-bottom: 1px solid rgba(82, 92, 105, 0.2);
	padding: 0 13px;
}

.tasks-scrum-epic-header-color-current {
	width: 19px;
	height: 19px;
	border-radius: 2px;
}

.tasks-scrum-epic-form-additional {
	background-color: #f8f9fa;
	padding: 19px 16px;
}

.tasks-scrum-epic-grid-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum-epic-grid-name-color {
	width: 19px;
	height: 19px;
	border-radius: 2px;
}

.tasks-scrum-epic-name-label {
	margin-left: 10px;
	color: #525c69;
}

.tasks-scrum-epic-name-label:hover {
	color: #525c69;
	cursor: pointer;
	text-decoration: underline;
}

.tasks-scrum-epic-form-files:not(:empty) {
	border-top: 1px solid rgba(82, 92, 105, 0.2);
	padding-top: 20px;
}

.tasks-scrum-epics-empty-image {
	/*background: no-repeat center url(images/epic-empty.svg);*/
	width: 124px;
	height: 124px;
	margin-bottom: 58px;
}

.tasks-scrum-epics-empty {
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 75px 50px 60px;
}

.tasks-scrum-epics-empty-first-title {
	font: 37px/32px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c69;
	margin-bottom: 67px;
}

.tasks-scrum-epics-empty-second-title {
	font: 20px/32px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #a8adb4;
	margin-bottom: 47px;
}
.tasks-scrum-decomposition-structure {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 10px 0 0;
	padding: 0;
	background: #fff;
	position: relative;
}
.tasks-scrum-input {
	margin: 10px 0 0;
}
.tasks-scrum-actions-panel-container {
	position: absolute;
	-webkit-transform: translateY(-36px);
	-ms-transform: translateY(-36px);
	transform: translateY(-36px);
	-webkit-transition: 250ms all ease;
	-o-transition: 250ms all ease;
	transition: 250ms all ease;
	z-index: 90;
	text-align: center;
	height: 0;
}

.tasks-scrum-actions-panel {
	padding: 8px 12px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	border-radius: 2px;
	z-index: 100;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	/*-webkit-box-align: stretch;*/
	/*-ms-flex-align: stretch;*/
	/*align-items: stretch;*/
	height: 34px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.tasks-scrum-actions-panel-btn {
	position: relative;
	height: 18px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: pointer;
	white-space: nowrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-scrum-actions-panel-btn-remove .tasks-scrum-actions-panel-icon {
	background: no-repeat center url(images/remove.svg);
	width: 20px;
	top: -1px;
	position: relative;
}

.tasks-scrum-actions-panel-btn-sprint .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/sprint.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-task .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/task.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-backlog .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/backlog.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-attachment .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/attachment.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-move .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/transfer.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-decomposition .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/decompoz.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-icon {
	display: inline-block;
	height: 20px;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.tasks-scrum-actions-panel-icon + .tasks-scrum-actions-panel-text { margin-left: 5px; }

.tasks-scrum-actions-panel-text {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	color: #858c96;
	font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: middle;
}

.tasks-scrum-actions-panel-separator {
	width: 27px;
	position: relative;
	-ms-flex-preferred-size: 27px;
	flex-basis: 27px;
}

.tasks-scrum-actions-panel-separator::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 13px;
	width: 1px;
	background-color: #e3e4e7;
}
.diskuf-extended {
	display: block;
	overflow: hidden;
	margin: 0 -10px;
}

.diskuf-extended-item {
	background-color: transparent;
	display: block;
	cursor: pointer;
	height: 36px;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
	outline: none;
	white-space: nowrap;
	-webkit-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c68;
	line-height: 36px;
}

.diskuf-extended-item:hover,
.diskuf-extended-item-active {
	color: #333;
	background-color: #f6f8f9;
}

.diskuf-extended-item label {
	cursor: pointer;
}